<footer class="text-white p-5" style="background-color: #000;">
  <div class="container">
    <div class="row">

      <div class="col-md-2">
        <h5>SHOP</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Products</a></li>
          <li><a href="#" class="text-white">Categories</a></li>
          <li><a href="#" class="text-white">Cart</a></li>
        </ul>
      </div>

      <div class="col-md-2">
        <h5>ABOUT</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Company</a></li>
          <li><a href="#" class="text-white">Team</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-2">
        <h5>HELP</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">FAQs</a></li>
          <li><a href="#" class="text-white">Support</a></li>
          <li><a href="#" class="text-white">Shipping</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>Social</h5>
        <div class="social-icons">
          <a href="#" class="text-white mr-2"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white mr-2"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white mr-2"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white mr-2"><i class="fab fa-tiktok"></i></a>
          <a href="#" class="text-white mr-2"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

      <div class="col-md-2">
        <h5>Joining Invitation</h5>
        <form class="d-flex flex-row">
          <div class="form-row align-items-center">
            <div class="col-auto">
              <label class="sr-only" for="emailInput">Email</label>
              <input type="email" class="form-control mb-2" id="emailInput" placeholder="Email">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-warning mb-2">Submit</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>