<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

<footer class="text-white p-5" style="background-color: #000;">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <img src="logo.png" alt="Logo" class="img-fluid mb-3" style="width: auto;height: 10vh;">
      </div>

      <div class="col-md-6 d-flex">
        <div class="col-md-6 mr-3 list-unstyled">
          <li><a href="#" class="text-white">About us</a></li>
          <li><a href="#" class="text-white">FAQ</a></li>
          <li><a href="#" class="text-white">Shipping and Payment</a></li>
          <li><a href="#" class="text-white">Partners</a></li>
          <li><a href="#" class="text-white">Blog</a></li>
          <li><a href="#" class="text-white">Contact Us</a></li>
        </div>
        <div class="col-md-6 ml-3 list-unstyled">
          <li><a href="#" class="text-white">Customer Reviews</a></li>
          <li><a href="#" class="text-white">Hair Care</a></li>
          <li><a href="#" class="text-white">Skin Care</a></li>
          <li><a href="#" class="text-white">Face Care</a></li>
        </div>
      </div>

      <div class="col-md-3 d-flex flex-column align-items-end">
        <button class="btn btn-light mb-2">Shop Now</button>
        <p>+(123) 123-99-999</p>
        <p>info@WhiteWolf.com</p>
      </div>

    </div>
    <div class="row mt-5">

      <div class="col-md-3">
        <ul class="list-unstyled">
          <a href="#" class="text-white mr-2"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white mr-2"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white mr-2"><i class="fab fa-instagram"></i></a>
        </ul>
      </div>

      <div class="col-md-6 d-flex">
        <p>The Hive Co Working and Business Center<br>Industiral Area Phase-2, Chandigarh</p>
      </div>

      <div class="col-md-3 d-flex flex-column align-items-end">
      </div>

    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>