<style>

    ul li a {
        text-decoration: none;
        color: #fff;
        text-transform: capitalize;
    }

    ul li a:hover{
        color: #fff;
        text-decoration: underline;
    }

    ul li a iconify-icon {
        color: #fff;
    }

    div h4{
        font-size: 20px;
    }
</style>
<footer class="container-fluid footer mt-auto text-white text-left p-4" style="background-color: #000;">
    <div class="container-fluid">
      <div class="row" >
        <div class="col-md text-capitalize">
          <h5>Category</h5>
          <ul class="list-unstyled text-decoration">
            <li><a href="/collections/beard-care">Beard Care</a></li>
            <li><a href="/pages/coming-soon">Fragrance</a></li>
            <li><a href="/collections/hair-care">Hair Care</a></li>
            <li><a href="/collections/skin-care">Skin Care</a></li>
            <li><a href="/pages/coming-soon">Shave</a></li>
          </ul>
        </div>
        <div class="col-md text-capitalize">
          <h5>Company</h5>
          <ul class="list-unstyled">
              <li><a href="/pages/contact-us">Contact Us</a></li>
            <li><a href="/pages/about-us">About Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="col-md text-capitalize">
          <h5>Legal</h5>
          <ul class="list-unstyled">
            <li><a href="/pages/shipping-policy">Shipping Policy</a></li>
            <li><a href="/pages/refund-policy">Refund Policy</a></li>
          </ul>
        </div>
        <div class="col-md text-capitalize">
          <h5>Contact</h5>
          <ul class="list-unstyled">
              <p class="d-flex align-items-center"><iconify-icon icon="material-symbols:call-outline" style="margin-right: 2px;"></iconify-icon> 180021020016</p>
              <p class="d-flex align-items-center"><iconify-icon icon="ic:outline-email" style="margin-right: 2px;"></iconify-icon> care@whitewolfindia.com</p>
              <p>PLOT NO. 191, 1ST FLOOR, INDUSTRIAL AREA PHASE 2, CHANDIGARH - 160002</p>
          </ul>
        </div>
      </div>
      <hr>
      <div class="container mb-0 d-flex justify-content-center flex-column align-items-center text-center text-capitalize" style="background-color: #000;">
          <a href="/" class="mt-5"><img src="https://www.whitewolfindia.com/assets/newlogo.png" alt="Logo" class="img-fluid mb-3" style="width: auto; height: 7vh;"></a>
          <h4>KUSHMANDA COSMETICS PRIVATE LIMITED</h4>
          <p>White Wolf is a top-class personal care brand for men; It features high-end men's grooming products. our Main Aim Is To Make Your Lifestyle More Elegant And Sleek. Enjoy Luxurious Hair Care, Skincare Rejuvenator, And Exquisite Shaving Line-Up – High-Quality Products That Make You Sure Of Their Self-Value.
          </p>
          <p class="mt-2">#ROAROFPERFECTION</p>

          <ul class="list-inline">
              <li class="list-inline-item"><a href="https://www.instagram.com/whitewolfindiaofficial/" class="list-inline-item" style="font-size: 4vh;"><iconify-icon icon="mdi:instagram"></iconify-icon></a></li>
              <li class="list-inline-item"><a href="#" class="list-inline-item" style="font-size: 4vh;"><iconify-icon icon="ic:baseline-whatsapp"></iconify-icon></a></li>
              <li class="list-inline-item"><a href="#" class="list-inline-item" style="font-size: 4vh;"><li class="list-inline-item"><a href="#" class="mr-2 list-inline-item" style="font-size: 4vh;"><iconify-icon icon="mingcute:linkedin-line"></iconify-icon></a></li>
            </ul>

            <ul class="list-inline">
              <li class="list-inline-item"><a href="/pages/disclaimer">Disclaimer</a></li>
              <li class="list-inline-item"><a href="/pages/terms-and-conditions">Terms & Conditions</a></li>
              <li class="list-inline-item"><a href="/pages/privacy-policy">Privacy Policy</a></li>
          </ul>
          
        </div>
    </div>
  </footer>
    
      
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      