<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<style>
  .custom-nav a.nav-link {
    display: flex;
    align-items: center;
  }

  .navbar {
    position: fixed;
    width: 100%;
    top: 5vh;
    z-index: 1; /* Adjust the z-index as needed */
    padding: 1vh;
    background-color: #000;
  }

  .sidenav{
    z-index: 2;
  }


  .sidenav a{
    display: flex;
    margin-top: 2vh;
    margin-left: -2vh;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }

  .promo-strip{
    width: 100%;
    position: fixed;
    height: 5vh;
    z-index: 1;
    font-size: 2vh;
    font-weight: 600;
  }

  .sidenav iconify-icon{
    margin-right: 1.5vh;
    background-color: #fff;
    font-size: 2vh;
    padding: 1vh;
    color: #000;
    border-radius: 50%;
  }

  .custom-nav a.nav-link i {
    margin-right: 0px;
  }

  .custom-nav .cartButtom {
    margin-right: 15px; /* Adjust the margin as needed */
  }

  @media (max-width: 768px) {
    .custom-nav {
    margin: 0;
    flex-wrap: no-wrap;
    text-align: right;
    justify-content: center;
    align-items: flex-end;
    font-size: 2.5vh;
  }

  .custom-nav a.nav-link {
    margin-bottom: 00px; /* Add spacing between the buttons */
    margin-left: 0; /* Align icons to the right */
    display: flex;
    align-items: center;
  }

  .custom-nav a.nav-link span {
    display: none; /* Hide the text on mobile screens */
  }

  .custom-nav i {
    font-size: 4vh;
    margin-left: -20px; /* Remove margin between icon and hidden text */
  }
  }
</style>

<div class="promo-strip">
   Get 25% Off on Every Purchase
</div>
<div id="mySidenav" class="sidenav">
   <p href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</p>
   <a href="#"><iconify-icon icon="mdi:about"></iconify-icon>About Us </a>
   <a href="/product_listing/face_care"><iconify-icon icon="mdi:spray"></iconify-icon>Face Care</a>
   <a href="/product_listing/hair_care"><iconify-icon icon="streamline:spray-paint-solid"></iconify-icon>Hair Care</a>
   <a href="/product_listing/body_care"><iconify-icon icon="fa6-solid:spray-can-sparkles"></iconify-icon>Body Care</a>
   <a href="/product_listing/beard_care"><iconify-icon icon="fluent:spray-can-16-filled"></iconify-icon>Beard Care</a>
</div>

<nav class="navbar navbar-expand-lg" style="padding: 1vh;background-color: #000;width: 100%;">
   <div class="container-fluid">
      <div class="navbar-brand d-flex justify-content-start align-items-center" style="width: 32%;">
         <span style="font-size: 2rem; cursor: pointer; color: #fff;" onclick="openNav()">&#9776; </span>
         <a href="/" class="navbar-brand ml-3" style="margin-left: 1rem">
           <img src="/assets/newlogo.png" alt="Logo"  style="width:auto; height: 7vh;margin-left: 1vw;">
       </a>
       
      </div>
      <form class="d-none d-lg-flex" style="width: 32%;">
         <div class="input-group" style="width: 100%;">
            <input class="form-control" type="search" placeholder="Search Your Favourite Product" aria-label="Search"
               style="background-color: #f4f4f4;border-radius: 1rem 0 0 1rem;">
            <button class="btn btn-light" type="submit" style="border-radius: 0 1rem 1rem 0;"><i
               class="fas fa-search"></i></button>
         </div>
      </form>
      <div class="custom-nav d-flex justify-content-end" style="width: 32%; font-size: 3vh;">
        <a class="nav-link cartButtom" onclick="openCart()" style="color: #fff;"  style="margin-right: -40px;">
          <i class="fas fa-cart-plus"></i>
          <span style="margin-right: -20px;"></span>
       </a>
       <% if (content.isLoggedIn === true) { %>
           <a class="nav-link" href="/profile" style="color: #fff;">
           <i class="fas fa-user" ></i>
           <span style="margin-left: 5px;display: none;"></span>
           </a>
         <% } else { %>
           <a class="nav-link" href="/login" style="color: #fff;display: none; ">
              <i class="fa-solid fa-right-to-bracket"></i>
           <span style="margin-left: 5px;"></span>
           </a>
         <% } %>
      </div>
   </div>
</nav>
<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>

<div id="alertContainer"></div>
<style>
   .alert {
       position: fixed;
       top: 1rem;
       right: 1rem;
       z-index: 2;
       padding: 0.75rem 1.25rem;
       margin-bottom: 1rem;
       border: 1px solid transparent;
       border-radius: 0.25rem;
       transition: 0.3s ease-in-out;
     }

     .alert.success {
       color: #155724;
       background-color: #d4edda;
       border-color: #c3e6cb;
     }
     .alert.danger {
       color: #721c24;
       background-color: #f8d7da;
       border-color: #f5c6cb;
     }
   </style>
   <script>
     function showAlert(message, type) {
       const alertContainer = document.getElementById("alertContainer");
   
       // Create alert element
       const alert = document.createElement("div");
       alert.className = `alert ${type}`;
       alert.innerHTML = `${message}<span class="close" onclick="closeAlert(this)">×</span>`;
   
       // Append alert to container
       alertContainer.appendChild(alert);
   
       // Set timeout to remove the alert after 5 seconds
       setTimeout(() => {
         closeAlert(alert.querySelector(".close"));
       }, 4000);
     }
   
     function closeAlert(closeButton) {
       const alert = closeButton.parentElement;
       alert.style.display = "none";
     }
   </script>