<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<style>
  .custom-nav a.nav-link {
    display: flex;
    align-items: center;
  }

  .navbar {
    height: max-content;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2; 
    padding: 1vh;
    background-color: #000;

  }

  .sidenav{
    z-index: 3;
  }

  .sidenav a{
    display: flex;
    margin-top: 2vh;
    margin-left: -2vh;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }

  .promo-strip{
    width: 100%;
    position: fixed;
    height: 5vh;
    z-index: 1;
    font-size: 2vh;
    background-color: transparent;
    font-weight: 600;
  }

  .large-nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
}

.large-nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 3px;
    background-color: #FEFEFE;
    transform-origin: bottom right;
    transition: transform 0.4s ease;
    transform: scaleX(0);
}

.large-nav a:hover {
    color: #fff;
}

.large-nav a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

  .input-group input{
    color: #fff;
    border: 1px solid #fff;
  }

  .form-control::placeholder {
  color: white; 
}

@keyframes marqueeAnimation {
      0% { transform: translateX(100%); }
      100% { transform: translateX(-100%); }
    }

    .marquee-container {
      display: flex;
      justify-content: space-between;
      width:100%;
      background-color: #222;
      overflow: hidden;
      padding: 1vh;
    }

    p.marquee {
      font-size: 2vh;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
      white-space: nowrap;
      animation: marqueeAnimation 20s linear infinite; 
    }

  .sidenav iconify-icon{
    margin-right: 1.5vh;
    background-color: #fff;
    font-size: 2vh;
    padding: 1vh;
    color: #000;
    border-radius: 50%;
  }

  .custom-nav a.nav-link i {
    margin-right: 0px;
  }

  .custom-nav .cartButtom {
    margin-right: 15px; 
  }

  @media (max-width: 768px) {
    .custom-nav {
      width: 40%;
    justify-content:flex-end;
    align-items: flex-end;
    font-size: 2.5vh;
    margin-right: -7%;
  }

  .navbar-brand{
    width: 30%;
  }

  .navbar-brand img{
    height: 3.5vh !important;
    margin-left: 2vh !important;
  }

  }

  #searchInput:focus {
            border-color: none; 
        }

  #searchInput:active{
    border: none;
  }
</style>

<div id="mySidenav" class="sidenav">
   <p href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="color: #fff;cursor: pointer;">&times;</p>
   <a href="/collections/new-arrivals"><iconify-icon icon="icon-park-outline:diamond"></iconify-icon>New Arrivals</a>
   <a href="/collections/best-sellers"><iconify-icon icon="material-symbols:workspace-premium-outline"></iconify-icon>Best Sellers</a>
   <a href="/collections/beard-care"><iconify-icon icon="game-icons:beard"></iconify-icon>Beard Care</a>
   <a href="/collections/hair-care"><iconify-icon icon="streamline:spray-paint-solid"></iconify-icon>Hair Care</a>
   <a href="/collections/skin-care"><iconify-icon icon="fa6-solid:spray-can-sparkles"></iconify-icon>Skin Care</a>
   <a href="/pages/coming-soon"  style="color: #fff;"><iconify-icon icon="icon-park-outline:shaver"></iconify-icon>Shave</a>
   <a href="/pages/coming-soon"  style="color: #fff;"><iconify-icon icon="solar:perfume-bold"></iconify-icon>Fragrance</a>
   
</div>
<nav class="navbar navbar-expand-lg" style="width: 100%;flex-direction: column;padding:0;">
  <div class="marquee-container">
    <p class="marquee" style="margin-right:5vh;">use code firstbuy to get 15% off on your first purchase</p>
    <p class="marquee">use code firstbuy to get 15% off on your first purchase</p>
  </div>
   <div class="container-fluid p-2">
      <div class="navbar-brand d-flex justify-content-center align-items-center" style="width: 15%;">
        <span class="d-block d-sm-none" style="font-size: 3vh; cursor: pointer; color: #fff;" onclick="openNav()">&#9776; </span>
         <a href="/" class="navbar-brand">
           <img src="/assets/ww side name logo.png_white@3x.png" alt="Logo"  style="width:auto; height: 5vh;margin-left: 1vw;">
       </a>

      </div>
      
      <div class="d-none d-lg-flex justify-content-flex-start align-items-center" style="width: 70%;color: #fff;">
        <div class="d-flex justify-content-evenly align-items-start large-nav text-uppercase nav-items" style="width: 90%;text-transform: uppercase;color: #fff;text-decoration: none;">
          <a href="/collections/new-arrivals"  style="color: #fff;">New Arrivals</a>
          <a href="/collections/best-sellers"  style="color: #fff;">Best Sellers</a>
          <a href="/collections/beard-care"  style="color: #fff;">Beard Care</a>
          <a href="/collections/hair-care" style="color: #fff;">Hair Care</a>
          <a href="/collections/skin-care"  style="color: #fff;">Skin Care</a>
          <a href="/pages/coming-soon"  style="color: #fff;">Shave</a>
          <a href="/pages/coming-soon"  style="color: #fff;">Fragrance</a>
          
        </div>

      </div>

        <div class="d-none d-lg-flex input-group" style="width: 20%;">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="searchInput" style="background-color: transparent; border-radius: 1rem 0 0 1rem;color: #fff;box-shadow: none;outline: none;">
            <button class="btn btn-light" type="submit" style="border-radius: 0 1rem 1rem 0;"><i class="fas fa-search"></i></button>
         </div>

      <div class="custom-nav d-flex justify-content-end align-items-end" style="width: 10%; font-size: 4vh;">
        <a class="nav-link cartButtom" onclick="openCart()" style="color: #fff;">
          <iconify-icon icon="mdi:cart"></iconify-icon>
          <span style="margin-right: -3vh;"></span>
       </a>
       <% if (content.isLoggedIn === true) { %>
           <a class="nav-link" href="/profile" style="color: #fff;">
            <iconify-icon icon="gg:profile"></iconify-icon>
           <span style="margin-left: 5px;display: none;"></span>
           </a>
         <% } else { %>
           <a class="nav-link" href="/login" style="color: #fff;">
            <iconify-icon icon="gg:profile"></iconify-icon>
           <span></span>
           </a>
         <% } %>
      </div>
   </div>
</nav>
<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>

<div id="alertContainer"></div>
<style>
   .alert {
       position: fixed;
       top: 1rem;
       right: 1rem;
       z-index: 2;
       padding: 0.75rem 1.25rem;
       margin-bottom: 1rem;
       border: 1px solid transparent;
       border-radius: 0.25rem;
       transition: 0.3s ease-in-out;
     }

     .alert.success {
       color: #155724;
       background-color: #d4edda;
       border-color: #c3e6cb;
     }
     .alert.danger {
       color: #721c24;
       background-color: #f8d7da;
       border-color: #f5c6cb;
     }
   </style>
   <script>
     function showAlert(message, type) {
       const alertContainer = document.getElementById("alertContainer");

       const alert = document.createElement("div");
       alert.className = `alert ${type}`;
       alert.innerHTML = `${message}<span class="close" onclick="closeAlert(this)">×</span>`;

       alertContainer.appendChild(alert);

       setTimeout(() => {
         closeAlert(alert.querySelector(".close"));
       }, 4000);
     }

     function closeAlert(closeButton) {
       const alert = closeButton.parentElement;
       alert.style.display = "none";
     }
   </script>