<div class="promo-strip">
    Get 25% Off on Every Purchase
 </div>
 <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">About Us</a>
    <a href="/product_listing">Best Sellers</a>
    <a href="#">Face Care</a>
    <a href="#">Hair Care</a>
    <a href="#">Body Care</a>
    <a href="#">New Launches</a>
 </div>

 <nav class="navbar navbar-expand-lg" style="padding: 1rem;background-color: #000;width: 100%;">
    <div class="container-fluid">
       <div class="navbar-brand d-flex justify-content-start align-items-center" style="width: 30%;">
          <span style="font-size: 2rem; cursor: pointer; color: #fff;" onclick="openNav()">&#9776; </span>
          <a href="/" class="navbar-brand ml-2" style="color: #fff; font-size: 1.2rem;">Logo</a>
       </div>
       <form class="d-none d-lg-flex" style="width: 30%;">
          <div class="input-group" style="width: 100%;">
             <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                style="background-color: #f4f4f4;border-radius: 1rem 0 0 1rem;">
             <button class="btn btn-light" type="submit" style="border-radius: 0 1rem 1rem 0;"><i
                class="fas fa-search"></i></button>
          </div>
       </form>
       <div class="custom-nav d-flex justify-content-end" style="width: 30%; font-size: 1rem;">
        <% if (content.isLoggedIn === true) { %>
            <a class="nav-link cartButtom" onclick="openCart()" style="color: #fff; font-size: 1.2rem;">
            <i class="fas fa-cart-plus"></i>
            <span style="margin-left: 5px;">Cart</span>
            </a>
            <a class="nav-link" href="/profile" style="color: #fff; font-size: 1.2rem;">
            <i class="fas fa-user" ></i>
            <span style="margin-left: 5px;">Profile</span>
            </a>
          <% } else { %>
            <a class="nav-link" href="/login" style="color: #fff; font-size: 1.2rem;">
            <span style="margin-left: 5px;">Login</span>
            </a>
          <% } %>
       </div>
    </div>
 </nav>
 <script>
   function openNav() {
     document.getElementById("mySidenav").style.width = "250px";
   }
   
   function closeNav() {
     document.getElementById("mySidenav").style.width = "0";
   }
</script>