<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="canonical" href="https://www.whitewolfindia.com/pages/about-us">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-qqAdiqJ24Jv7ag2hiX05Rclciw0Oaix/6V+8OG//ETV9AgxrPQQDMfY/h02Y0PqT" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/whitewolflog.png">
    <style>
        body {
            background-color: #000;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            padding: 20px;
        }

        h1, h2, p {
            font-size: 2vh;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        #roarOfPerfection {
            font-size: 2vh;
            font-weight: bold;
        }

        .sidebar {
    height: 100%;
    width: 300px; 
    position: fixed;
    top: 0;
    left: -300px; 
    background-color: #111;
    overflow-x: hidden;
    transition: left 0.5s; 
    padding-top: 60px;
}

#sidebarCloseButton {
    border: none;
    outline: none;
    color: #fff;
    background-color: transparent;
    margin-right: 10px; 
    position: absolute;
    top: 10px;
    right: 0;
}

#sidebarCloseButton:hover {
    cursor: pointer;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

#sidebarToggle {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    background-color: transparent;
    border: none;
    color: white;
}

#content {
    transition: margin-right 0.5s;
    padding: 16px;
}

@media (min-width: 992px) {
    .sidebar,#sidebarToggle {
        display: none;
    }
}

#content {
    transition: margin-right 0.5s;
    padding: 16px;
}

        .navbar a i{
            color: #fff !important;
        }

        .footer li a{
            text-decoration: none !important;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000; position: sticky; top: 0; z-index: 1000;">
        <div class="container-fluid">
            <div class="d-flex justify-content-start align-items-center" style="width: 100%;">
                <div class="navbar-brand d-flex justify-content-center align-items-center">
                    <a href="/" class="navbar-brand">
                        <img src="/assets/ww side name logo.png_white@3x.png" alt="Logo" style="width:auto; height: 5vh;">
                    </a>
                </div>
                <div id="sidebar" class="sidebar">
                    <a href="/collections/beard-care" class="nav-link">Beard Care</a>
                    <a href="/collections/hair-care" class="nav-link">Hair Care</a>
                    <a href="/collections/skin-care" class="nav-link">Skin Care</a>
                    <a href="/pages/coming-soon" class="nav-link">Shave</a>
                    <a href="/pages/coming-soon" class="nav-link">Fragrance</a>
                    <button id="sidebarCloseButton">&#9587;</button>
                </div>
                
                <div id="content">
                    <button id="sidebarToggle">☰</button>
                </div>                
                
                <nav class="navbar navbar-expand-lg  bg-dark d-none d-lg-block" style="background-color: #000 !important;width: 50%;">
                    <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
                        <div class="navbar-nav d-flex justify-content-between align-items-start large-nav text-uppercase" style="width: 100%;">
                            <a href="/collections/beard-care" class="nav-link" style="color: #fff;">Beard Care</a>
                            <a href="/collections/hair-care" class="nav-link" style="color: #fff;">Hair Care</a>
                            <a href="/collections/skin-care" class="nav-link" style="color: #fff;">Skin Care</a>
                            <a href="/pages/coming-soon" class="nav-link" style="color: #fff;">Shave</a>
                            <a href="/pages/coming-soon" class="nav-link" style="color: #fff;">Fragrance</a>
                        </div>
                    </div>
                    
                </nav>
            </div>
        </div>
    </nav>

    <%- include('partials/footer') %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.getElementById("sidebarToggle").addEventListener("click", function() {
    toggleSidebar();
});

document.getElementById("sidebarCloseButton").addEventListener("click", function() {
    closeSidebar();
});

function toggleSidebar() {
    var sidebar = document.getElementById("sidebar");
    var content = document.getElementById("content");
    if (sidebar.style.left === "0px") {
        sidebar.style.left = "-300px";
        content.style.marginLeft = "0";
    } else {
        sidebar.style.left = "0px";
        content.style.marginLeft = "300px";
    }
}

function closeSidebar() {
    var sidebar = document.getElementById("sidebar");
    var content = document.getElementById("content");
    sidebar.style.left = "-300px";
    content.style.marginLeft = "0";
}

    </script>
</body>
</html>