<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .custom-carousel-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        .custom-carousel-wrapper {
            padding: 0;
            width: 100%;
            overflow: hidden;
            position: relative;
        }
    
        .custom-carousel-slides {
            display: flex;
            flex-wrap: nowrap;
            cursor: pointer;
            gap: 16px;
            cursor: -webkit-grab;
            transition: transform 0.5s ease-in-out;
            overflow-x: scroll;
            -ms-overflow-style: none !important;
            scrollbar-width: none !important;
        }

        .custom-carousel-slides {
            overflow-x: scroll;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }

        .custom-carousel-slides::-webkit-scrollbar {
            display: none;  /* Chrome, Safari, Opera */
        }

        .custom-carousel-slide {
            height: 80vh;
            width: 30vw;
            border-radius: 1vh !important;
            min-width: 30vw;
            padding: 2vh;
            display: block;
            object-fit: cover;
            background-repeat: no-repeat;
            border-radius: 0;
        }

        .custom-content {
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: flex-start;
            justify-content: space-between;
        }

        .custom-carousel-slide .custom-content p {
            font-size: 4vh;
            text-transform: uppercase;
            font-weight: bolder;
            color: #fff !important;
            text-decoration: none;
            color: inherit;
        }

        .custom-button {
            padding: 2vh 5vh; /* Larger padding on the left and right sides */
            background-color: #fff;
            color: #000;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-transform: uppercase; /* Make the button text uppercase */
        }

        .custom-carousel-controls {
            position: absolute;
            top: 50%;
            display: flex;
            align-items: center;
            width: 100%;
        }

        .custom-carousel-prev, .custom-carousel-next {
            color: #fff;
            cursor: pointer;
            font-size: 5vh;
            margin: 0 10px;
        }

        .custom-carousel-prev {
            margin-right: auto;
        }

        .custom-carousel-next {
            margin-left: auto;
        }

        @media only screen and (max-width: 768px) {
            .custom-carousel-slides .custom-carousel-slide {
                min-width: 60vh !important; /* Adjusted width for mobile screens */
            }
        }

    </style>
</head>
<body style="background-color: black;">

<div class="custom-carousel-wrapper mt-0 mb-3">
    <div class="custom-carousel-controls">
        <div class="custom-carousel-prev" onclick="scrollCustomSlides('left')">
            &lt;
        </div>
        <div class="custom-carousel-next" onclick="scrollCustomSlides('right')">
            &gt;
        </div>
    </div>

    <div class="custom-carousel-slides">
        <div class="custom-carousel-slide" style="background-image: url('/assets/face.jpg');">
            <div class="custom-content">
                <p>Text for Image 1</p>
                <button class="custom-button">Shop Now</button>
            </div>
        </div>

        <div class="custom-carousel-slide" style="background-image: url('/assets/face.jpg');">
            <div class="custom-content">
                <p>Text for Image 2</p>
                <button class="custom-button">Shop Now</button>
            </div>
        </div>

        <div class="custom-carousel-slide" style="background-image: url('/assets/face.jpg');">
            <div class="custom-content">
                <p>Text for Image 3</p>
                <button class="custom-button">Shop Now</button>
            </div>
        </div>

        <div class="custom-carousel-slide" style="background-image: url('/assets/face.jpg');">
            <div class="custom-content">
                <p>Text for Image 4</p>
                <button class="custom-button">Shop Now</button>
            </div>
        </div>
    </div>

</div>

<script>
    function scrollCustomSlides(direction) {
        const slidesContainer = document.querySelector('.custom-carousel-slides');
        const slideWidth = document.querySelector('.custom-carousel-slide').offsetWidth;

        if (direction === 'left') {
            slidesContainer.scrollTo({
                left: slidesContainer.scrollLeft - slideWidth,
                behavior: 'smooth'
            });
        } else if (direction === 'right') {
            slidesContainer.scrollTo({
                left: slidesContainer.scrollLeft + slideWidth,
                behavior: 'smooth'
            });
        }
    }
</script>

</body>
</html>
