<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/adminstyle.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../assets/whitewolflog.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <style>

        @media only screen and (max-width: 768px) {
            #productsSection {
                padding: 2rem;
            }
        }

        .form-container {
            display: flex;
            justify-content: space-between;
        }

        .form-container > div {
            width: 48%; 
        }

        output{
            display: flex;
            flex-direction: row;
            width: 30vw;
        }

        output img{
            height: 15vh;
            margin: 0.5rem;
            border-radius: 1rem;
            width:auto;
        }

        .top-selling{
            border: 1px solid lightgrey;
            border-radius: 1vh;
            overflow-y: scroll;
            display: flex;
            height: 40vh;
            padding: 2vh;
            align-items: center;
            flex-direction: column;
            text-align: left;
        }
        .form-container input,
        .form-container textarea,
        .form-container select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid lightgrey;
            border-radius: 1rem;
        }

        .form-container button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</style>
<div id="alertContainer"></div>
<style>
   .alert {
       position: fixed;
       top: 1rem;
       right: 1rem;
       z-index: 1;
       padding: 0.75rem 1.25rem;
       margin-bottom: 1rem;
       border: 1px solid transparent;
       text-transform: capitalize;
       border-radius: 2vh;
       transition: 0.3s ease-in-out;
     }

     #graphSelect{
         padding: 1vh;
         border: 1px solid lightgrey;
         border-radius: 1vh;
         text-transform: uppercase;
     }

     .alert.success {
       color: #fff;
       background-color: green;
       border-color: #fff;
     }
     .alert.danger {
       color: #fff;
       background-color: maroon;
       border-color: #fff;
     }
   </style>
   <script>
     function showAlert(message, type) {
       const alertContainer = document.getElementById("alertContainer");
   
       // Create alert element
       const alert = document.createElement("div");
       alert.className = `alert ${type}`;
       alert.innerHTML = `${message}<span class="close" onclick="closeAlert(this)"> &#10060</span>`;
   
       // Append alert to container
       alertContainer.appendChild(alert);
   
       // Set timeout to remove the alert after 5 seconds
       setTimeout(() => {
         closeAlert(alert.querySelector(".close"));
       }, 4000);
     }
   
     function closeAlert(closeButton) {
       const alert = closeButton.parentElement;
       alert.style.display = "none";
     }
   </script>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="#" class="logo">
                    <img src="assets/logo.PNG" alt="">
                    <span class="nav-item admin">Admin Panel</span>
                </a></li>
                <li><a href="#" onclick="showDashboard()" id="dashboardTab">
                    <i class="fas fa-id-card"></i>
                    <span class="nav-item">Dashboard</span>
                </a></li>
                <li><a href="#" onclick="showAnalytics()" id="analyticsTab">
                    <i class="fas fa-user"></i>
                    <span class="nav-item">Users</span>
                </a></li>
                <li><a href="#" onclick="showOrders()" id="ordersTab">
                    <i class="fas fa-store"></i>
                    <span class="nav-item">Orders</span>
                </a></li>
                <li><a href="#" onclick="showProducts()" id="productsTab">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="nav-item">Add Products</span>
                </a></li>
                <!-- <li><a href="#" onclick="showCategories()" id="categoriesTab">
                    <i class="fas fa-chart-line"></i>
                    <span class="nav-item">Categories</span>
                </a></li> -->
                <li><a href="#" onclick="showInventory()" id="inventoryTab">
                    <i class="fas fa-warehouse"></i>
                    <span class="nav-item">Inventory</span>
                </a></li>
                <!-- <li><a href="#" onclick="showPayments()" id="paymentsTab">
                    <i class="fas fa-wallet"></i>
                    <span class="nav-item">Wallet</span>
                </a></li> -->
                <li><a href="#" onclick="showCoupon()" id="couponTab">
                    <i class="fas fa-gift"></i>
                    <span class="nav-item">Coupons</span>
                </a></li>
                <li><a href="#" onclick="showSettings()" id="settingsTab">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="nav-item">Log Out</span>
                </a></li>
            </ul>
        </nav>        

        <!-- completed -->
        <section class="main" id="dashboardSection" >
            <div class="main-top">
                <h1>Summary</h1>
            </div>
            <div class="main-skills">
                <div class="card">
                    <iconify-icon class="icon" icon="emojione:money-bag"></iconify-icon>
                    <h2 class="sales_today">Rs 0</h2>
                    <h4>Sales today</h4>
                </div>
                <div class="card">
                    <iconify-icon class="icon" icon="emojione-v1:shopping-bags"></iconify-icon>
                    <h2 class="completed_orders">65</h2>
                    <h4>Completed orders</h4>
                </div>
                <div class="card">
                    <iconify-icon class="icon" icon="openmoji:timer"></iconify-icon>
                    <h2 class="pending_orders">0</h2>
                    <h4>Pending Orders</h4>
                </div>
                <div class="card">
                    <iconify-icon class="icon" icon="emojione:shopping-cart"></iconify-icon>
                    <h2 class="total_sales">Rs 0</h2>
                    <h4>Total Sales</h4>
                </div>
            </div>

            <section class="main-course">
                <h1>Analytics</h1>
                <div class="course-box">
                    
                    <div>
                        <select name="graphSelect" id="graphSelect">
                            <option value="7">last 7 days</option>
                            <option value="30">last 30 days</option>
                            <option value="100">last 100 days</option>
                            <option value="365">last 365 days</option>
                            <option value="1780">last 4 years</option>
                        </select>
                        <canvas id="myChart" class="chart"></canvas>
                    </div>
                    <div class="top-selling">
                        <h2>Top Selling Products</h2>
                        <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
                          <tbody id="topSellingProductsBody">
                          </tbody>
                        </table>
                      </div>
                </div>
            </section>
            <!-- Add this script to your HTML file -->
            <script>
                let orders = []
                let users = []

                document.addEventListener('DOMContentLoaded', async () => {
                    // Fetch orders
                    const ordersResponse = await axios.get('/api/admin/getAllOrders');
                    orders = ordersResponse.data;

                    // Fetch users
                    const usersResponse = await axios.get('/api/admin/getAllUsers');
                    users = usersResponse.data;
                   
                    drawGraph(7)

                    // Update the main skills cards
                    updateMainSkills();

                    updateTopSellingProducts();
                });

                function drawGraph(lastDays) {
                    // Calculate statistics
                    const today = new Date();
                    const startDate = new Date();
                    startDate.setDate(today.getDate() - lastDays + 1);
                    const endDate = today;

                    const ordersPerDay = Array.from({ length: lastDays }, (_, i) => {
                        const date = new Date(startDate);
                        date.setDate(startDate.getDate() + i);

                        const dayOrders = orders.filter(order => {
                            const orderDate = new Date(order.createdDate);

                            // Compare the year and month without considering the day
                            return orderDate.getFullYear() === date.getFullYear() && orderDate.getMonth() === date.getMonth() && orderDate.getDate() === date.getDate();

                        });

                        return { date, count: dayOrders.length };
                    });

                    // Generate line graph using Chart.js
                    const ctx = document.getElementById('myChart').getContext('2d');
                    const chart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: ordersPerDay.map(item => item.date.toDateString()),
                            datasets: [{
                                label: 'Orders per Day',
                                data: ordersPerDay.map(item => item.count),
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                }

                document.querySelector(`#graphSelect`).addEventListener('change', async event => {
                    drawGraph(event.target.value)
                });


                function updateMainSkills() {
                    const salesToday = calculateSalesToday();
                    const completedOrders = calculateCompletedOrders();
                    const pendingOrders = calculatePendingOrders();
                    const totalSales = calculateTotalSales();

                    // Update the HTML elements with the calculated values
                    document.querySelector('.sales_today').textContent = `Rs ${salesToday}`;
                    document.querySelector('.completed_orders').textContent = completedOrders;
                    document.querySelector('.pending_orders').textContent = pendingOrders;
                    document.querySelector('.total_sales').textContent = `Rs ${totalSales}`;
                }

                function calculateSalesToday() {
                    // Calculate sales for today
                    const today = new Date();
                    const todayOrders = orders.filter(order => {
                        const orderDate = new Date(order.Date);
                        return orderDate.getDate() === today.getDate() &&
                            orderDate.getMonth() === today.getMonth() &&
                            orderDate.getFullYear() === today.getFullYear();
                    });

                    return todayOrders.reduce((total, order) => total + order.totalPayment, 0);
                }

                function calculateCompletedOrders() {
                    // Calculate completed orders count
                    const completedOrders = orders.filter(order => order.status === 'Completed');
                    return completedOrders.length;
                }

                function calculatePendingOrders() {
                    // Calculate pending orders count
                    const pendingOrders = orders.filter(order => order.status === 'Pending');
                    return pendingOrders.length;
                }

                function calculateTotalSales() {
                    // Calculate total sales
                    const totalSales = orders.reduce((total, order) => total + order.totalPayment, 0);
                    return totalSales;
                }

                async function updateTopSellingProducts() {
                    const tableBody = document.querySelector('#topSellingProductsBody');
                    tableBody.innerHTML = '';
                    calculateTopSellingProducts(5)
                    .then (topSellingProducts => {
                        topSellingProducts.forEach(async (product) => {
                            console.log(product)
                            const row = document.createElement('tr');
                            row.innerHTML = `
                                <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">
                                    <img src="${product.image}" alt="${product.name}" style="max-width: 50px; max-height: 50px;">
                                </td>
                                <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">${product.name}</td>
                                <td style="border: 1px solid #ddd; padding: 8px; text-align: left;">${product.unitsSold} Units Sold</td>
                            `;
                            tableBody.appendChild(row);
                        });
                    })
                }

                async function calculateTopSellingProducts(numProducts) {
                    // Calculate top-selling products based on units sold
                    const productSalesMap = new Map();

                    orders.forEach(order => {
                        order.products.forEach(product => {
                            const productId = product.itemId;
                            const unitsSold = product.quantity;

                            if (productSalesMap.has(productId)) {
                                productSalesMap.set(productId, productSalesMap.get(productId) + unitsSold);
                            } else {
                                productSalesMap.set(productId, unitsSold);
                            }
                        });
                    });

                    // Sort products by units sold in descending order
                    const sortedProducts = [...productSalesMap.entries()]
                        .sort((a, b) => b[1] - a[1])
                        .slice(0, numProducts);

                    // Fetch product details from your API and return the results
                    const topSellingProducts = await Promise.all(sortedProducts.map(async ([productId, unitsSold]) => {
                        try {
                            const response = await axios.get(`/api/products/${productId}`);
                            const productDetails = response.data;

                            return {
                                name: productDetails.name,
                                image: productDetails.imageLink[0],
                                unitsSold: unitsSold
                            };
                        } catch (error) {
                            console.error(`Error fetching product details for productId ${productId}:`, error);
                            // Handle error appropriately
                            return {};
                        }
                    }));

                    return topSellingProducts;
                }
            </script>

        </section>

        <!-- shows all the users : completed -->
        <section class="main" id="analyticsSection" style="display: none;" >
            <section class="main-orders">
                <h1>User Analytics</h1>
                <div class="user-container">
                    <table class="user-table">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>email</th>
                                <th>Phone Number</th>
                                <th>Pin Code</th>
                                <th>Account Created</th>
                                <!-- <th>Action</th> -->
                                <!-- <td>
                                    <button onclick="toggleUserBlock('John Doe')" class="block-button">Block</button>
                                </td> -->
                            </tr>
                        </thead>
                        <tbody id="userTableBody">
                        </tbody>
                    </table>
                </div>
            </section>
            <script>

                document.querySelector('#analyticsTab').addEventListener('click',async () => {
                    function createTableCell(content) {
                        let cell = document.createElement('td')
                        cell.textContent = content;
                        return cell;
                    }
                    document.querySelector('#userTableBody').innerHTML = ''
                    await axios.get('/api/admin/getAllUsers')
                    .then(response => response.data)
                    .then(users => {
                        users.forEach(user => {
                            let row = document.createElement('tr')
                            row.append(createTableCell(user.name))
                            row.append(createTableCell(user.email))
                            row.append(createTableCell(user.phone))
                            row.append(createTableCell(user.pincode))

                            const dateTime = new Date(user.joinDate);

                            const formattedDateTime = dateTime.toLocaleString();

                            row.append(createTableCell(formattedDateTime))
                            document.querySelector('#userTableBody').append(row)
                            showAlert("All users loaded successfully","success");
                        })
                    })
                    .catch(err => showAlert("oops, an error occured while fetching users","danger"))
                })
            </script>
        </section>   

        <!-- shows all orders : completed -->
        <section class="main" id="ordersSection" style="display: none;" >
            <section class="main-orders">
                <h1>Orders</h1>
                <div class="orders-container">
                    <ul class="list">
                        <li onclick="loadAllOrders()" id="all">All Orders</li>
                        <li onclick="loadPendingOrders()" id="Pending">Pending Orders</li>
                        <li onclick="loadSentOrders()" id="Sent">Sent Orders</li>
                        <li onclick="loadDeliveringOrders()" id="Delivering">Delivering Orders</li>
                        <li onclick="loadDeliveredOrders()" id="Delivered">Delivered Orders</li>
                    </ul>
                    <div>
                        <div class="order-table" id="allOrdersTab">
                            <table class="table table-bordered table-striped" style="overflow-y: auto;">
                                <thead>
                                    <tr>
                                        <th style="width: 15%;">Order Id</th>
                                        <th style="width: 15%;">Email</th>
                                        <th style="width: 20%;">Products</th>
                                        <th style="width: 15%;">Price</th>
                                        <th style="width: 15%;">Date</th>
                                        <th style="width: 20%;">Status</th>
                                    </tr>
                                </thead>
                                <tbody id="OrdersBody" style="overflow: hidden;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <script>
                let Orders = []
                let selectedOrdersTab = 'all'
                function createTableCell(content) {
                    let cell = document.createElement('td')
                    cell.innerHTML = content;
                    return cell;
                }
                function dynamicOrderStatus (Id,content) {
                    let cell = document.createElement('td')
                    cell.innerHTML = `
                        <select id="myDropdown_${Id}">
                            <option value="Pending" ${content === 'Pending' ? 'selected' : ''}>Pending</option>
                            <option value="Sent" ${content === 'Sent' ? 'selected' : ''}>Sent</option>
                            <option value="Delivering" ${content === 'Delivering' ? 'selected' : ''}>Delivering</option>
                            <option value="Delivered" ${content === 'Delivered' ? 'selected' : ''}>Delivered</option>
                        </select>
                    `;
                    return cell;
                }
                const loadOrders = async () => {
                    await axios.get('/api/admin/getAllOrders')
                        .then(response => response.data)
                        .then(data => {
                            Orders = data;
                            loadAllOrders();
                            showAlert("Orders loaded successfully","success")
                        })
                        .catch(err => showAlert("server refused on order data","danger"))
                }

                function loadAllOrders() {
                    document.querySelector('#' + selectedOrdersTab).classList.remove('active')
                    selectedOrdersTab = 'all'
                    document.querySelector('#' + selectedOrdersTab).classList.add('active')
                    loadOrdersTable(Orders);
                }

                function loadPendingOrders() {
                    const pendingOrders = Orders.filter(order => order.status === 'Pending');
                    document.querySelector('#' + selectedOrdersTab).classList.remove('active')
                    selectedOrdersTab = 'Pending'
                    document.querySelector('#' + selectedOrdersTab).classList.add('active')

                    loadOrdersTable(pendingOrders);
                }

                function loadSentOrders() {
                    const sentOrders = Orders.filter(order => order.status === 'Sent');
                    document.querySelector('#' + selectedOrdersTab).classList.remove('active')
                    selectedOrdersTab = 'Sent'
                    document.querySelector('#' + selectedOrdersTab).classList.add('active')

                    loadOrdersTable(sentOrders);
                }

                function loadDeliveringOrders() {
                    const deliveringOrders = Orders.filter(order => order.status === 'Delivering');
                    document.querySelector('#' + selectedOrdersTab).classList.remove('active')
                    selectedOrdersTab = 'Delivering'
                    document.querySelector('#' + selectedOrdersTab).classList.add('active')

                    loadOrdersTable(deliveringOrders);
                }

                function loadDeliveredOrders() {
                    const deliveredOrders = Orders.filter(order => order.status === 'Delivered');
                    document.querySelector('#' + selectedOrdersTab).classList.remove('active')
                    selectedOrdersTab = 'Delivered'
                    document.querySelector('#' + selectedOrdersTab).classList.add('active')

                    loadOrdersTable(deliveredOrders);
                }

                function loadOrdersTable(orders) {
                    document.querySelector('#OrdersBody').innerHTML = '';
                    orders.forEach(async order => {
                        let row = document.createElement('tr');
                        row.append(createTableCell(order._id));
                        row.append(createTableCell(order.email));
                        let names = '';
                        await Promise.all(order.products.map(async product => {
                            try {
                                const response = await axios.get(`/api/products/${product.itemId}`);
                                names += ` ${response.data.name}`;
                            } catch (err) {
                                console.log('error fetching products', err);
                            }
                        }));
                        row.append(createTableCell(names));
                        row.append(createTableCell('&#8377;' + order.totalPayment));
                        const dateTime = new Date(order.Date);
                        const formattedDateTime = dateTime.toLocaleString();
                        row.append(createTableCell(formattedDateTime));
                        row.append(dynamicOrderStatus(order.razorpay_order_id, order.status));
                        document.querySelector('#OrdersBody').append(row);
                        document.querySelector(`#myDropdown_${order.razorpay_order_id}`).addEventListener('change', async event => {
                            const selectedValue = event.target.value;
                            await axios.put('/api/update-order-status/' + order.razorpay_order_id, {
                                status: selectedValue
                            })
                            .then(response => {
                                showAlert('order status updated successfully', 'success');
                                document.querySelector('#' + selectedOrdersTab).classList.remove('active')

                                order.status = selectedValue;
                                selectedOrdersTab = selectedValue;
            
                                document.querySelector('#' + selectedOrdersTab).classList.add('active')

                                switch (selectedValue) {
                                    case 'Pending':
                                        loadPendingOrders()
                                    break;
                                    case 'Sent':
                                        loadSentOrders()
                                    break;
                                    case 'Delivering':
                                        loadDeliveringOrders()
                                    break;
                                    case 'Delivered':
                                        loadDeliveredOrders()
                                    break;
                                    default:
                                        loadAllOrders()
                                    break;
                                }
                            })
                            .catch(error => {
                                showAlert('error updating order status', 'danger');
                            });
                        });
                    });
                }

                document.querySelector('#ordersTab').addEventListener('click', loadOrders)
            </script>
        </section>

        <!-- complete -->
        <section class="main" id="productsSection" style="display: none;">
            <section class="main-orders">
            <h1 style="margin-bottom: 0.3rem;">Add Product</h1>
                    <div class="form-container">
                        <div>
                            <label for="productName">Product Name:</label>
                            <input type="text" id="productName" name="productName" required>

                            <label for="productDescription">Product Description:</label>
                            <textarea id="productDescription" name="productDescription" rows="4" required></textarea>

                            <label for="originalPrice">Original Price (₹):</label>
                            <input type="number" id="originalPrice" name="originalPrice" required>

                            <label for="offeredPrice">Offered Price (₹)<span style="color: #999;">(Amount to be displayed to User)</span>:</label>
                            <input type="number" id="offeredPrice" name="offeredPrice" required>

                            <label for="category">Category:</label>

                            <select id="category" name="category" required>
                                <option value="Face Care">Face Care</option>
                                <option value="Hair Care">Hair Care</option>
                                <option value="Body Care">Body Care</option>
                                <option value="Beard Care">Beard Care</option>
                                <option value="Skin Care">Skin Care</option>
                            </select>

                            <button onclick="addProduct()" style="margin-top: 1rem;">Publish Product</button>

                        </div>

                        <div>
                            <label for="stock">Stock:</label>
                            <input type="number" id="stock" name="stock" required>
                            
                            <label for="Image1">Main Image (250x250):</label>
                            <input type="file" value="-1" id="Image1" name="Image1" accept="image/*" required onchange="previewImage('Image1')" style="border: none; padding: 0.5rem; background-color: #f0f0f0;">
                            <img id="Image1Preview" alt="Preview" style="max-width: 50%; height: 15vh; margin-top: 0rem; margin-bottom: 1rem;border-radius: 1rem;">
                            
                            <div class="addon-images">
                                <div class="img2">
                                    <label for="Image2">2nd Image (250x250):</label>
                                    <input type="file" value="-1" id="Image2" name="Image2" accept="image/*" required onchange="previewImage('Image2')" style="border: none; padding: 0.5rem; background-color: #f0f0f0;"> 
                                    <img id="Image2Preview" alt="Preview" style="max-width: 50%; height: 20vh; margin-top: 0rem; margin-bottom: 1rem;border-radius: 1rem;">
                                </div>
        
                                <div class="img2">
                                    <label for="Image3">3rd Image (250x250):</label>
                                    <input type="file" value="-1" id="Image3" name="Image3" accept="image/*" required onchange="previewImage('Image3')" style="border: none; padding: 0.5rem; background-color: #f0f0f0;">
                                    <img id="Image3Preview" alt="Preview" style="max-width: 50%; height: 20vh; margin-top: 0rem; margin-bottom: 1rem;border-radius: 1rem;">
                                </div>

                                <div class="img2">
                                    <label for="Image4">4th Image (250x250):</label>
                                    <input type="file" value="-1" id="Image4" name="Image4" accept="image/*" required onchange="previewImage('Image4')" style="border: none; padding: 0.5rem; background-color: #f0f0f0;">
                                    <img id="Image4Preview" alt="Preview" style="max-width: 50%; height: 20vh; margin-top: 0rem; margin-bottom: 1rem;border-radius: 1rem;">
                                </div>

                                <div class="img2">
                                    <label for="Image5">5th Image (250x250):</label>
                                    <input type="file" value="-1" id="Image5" name="Image5" accept="image/*" required onchange="previewImage('Image5')" style="border: none; padding: 0.5rem; background-color: #f0f0f0;">
                                    <img id="Image5Preview" alt="Preview" style="max-width: 50%; height: 20vh; margin-top: 0rem; margin-bottom: 1rem;border-radius: 1rem;">
                                </div>

                                <div class="img2">
                                    <label for="Image6">6th Image (250x250):</label>
                                    <input type="file" value="-1" id="Image6" name="Image6" accept="image/*" required onchange="previewImage('Image6')" style="border: none; padding: 0.5rem; background-color: #f0f0f0;">
                                    <img id="Image6Preview" alt="Preview" style="max-width: 50%; height: 20vh; margin-top: 0rem; margin-bottom: 1rem;border-radius: 1rem;">
                                </div>

                                <div class="img2">
                                    <label for="Image7">7th Image (250x250):</label>
                                    <input type="file" value="-1" id="Image7" name="Image7" accept="image/*" required onchange="previewImage('Image7')" style="border: none; padding: 0.5rem; background-color: #f0f0f0;">
                                    <img id="Image7Preview" alt="Preview" style="max-width: 50%; height: 20vh; margin-top: 0rem; margin-bottom: 1rem;border-radius: 1rem;">
                                </div>
                            </div>

                        </div>
                    </div>
            </section>
            <script>    
                function previewImage(inputId) {
                    const input = document.getElementById(inputId);
                    const preview = document.getElementById(`${inputId}Preview`);

                    if (input.files && input.files[0]) {
                        const reader = new FileReader();

                        reader.onload = function (e) {
                            preview.src = e.target.result;
                        };

                        reader.readAsDataURL(input.files[0]);
                    }
                }
                function resetPreview () {
                    document.getElementById('Image1Preview').src = ''
                    document.getElementById('Image2Preview').src = ''
                    document.getElementById('Image3Preview').src = ''
                    document.getElementById('Image4Preview').src = ''
                    document.getElementById('Image5Preview').src = ''
                    document.getElementById('Image6Preview').src = ''
                    document.getElementById('Image7Preview').src = ''
                }
                async function addProduct() {
                    const name = document.getElementById('productName').value;
                    const description = document.getElementById('productDescription').value;
                    const originalPrice = document.getElementById('originalPrice').value;
                    const offeredPrice = document.getElementById('offeredPrice').value;
                    const category = document.getElementById('category').value;
                    const stock = document.getElementById('stock').value;
                    const MainImage = document.getElementById('Image1').files[0];
                    
                    const parsedOriginalPrice = parseInt(originalPrice, 10);
                    const parsedOfferedPrice = parseInt(offeredPrice, 10);

                    if (parsedOfferedPrice >= parsedOriginalPrice) {
                        showAlert("Enter a valid price", "danger");
                        return;
                    } else {
                        if (
                            name &&
                            description &&
                            originalPrice &&
                            offeredPrice &&
                            category &&
                            stock &&
                            MainImage
                        ) {
                            let formData = new FormData();
                            
                            formData.append('name', name);
                            formData.append('description', description);
                            formData.append('originalPrice', originalPrice);
                            formData.append('offeredPrice', offeredPrice);
                            formData.append('category', category);
                            formData.append('stock', stock);
                            formData.append('files', MainImage);

                            for (let index = 0 ; index < 6 ; index++){
                                if (document.getElementById(`Image${index+2}`).files[0]){
                                    formData.append('files', document.getElementById(`Image${index+2}`).files[0]);
                                }
                            }

                            await axios.post('/api/products', formData)
                            .then((response) => {
                                showAlert('Product added successfully:',"success");
                                document.getElementById('productName').value = '';
                                document.getElementById('productDescription').value = '';
                                document.getElementById('originalPrice').value = '';
                                document.getElementById('offeredPrice').value = '';
                                document.getElementById('category').value = '';
                                document.getElementById('stock').value = '';
                                document.getElementById('Image1').files[0] = '';
                                document.getElementById('Image2').files[0] = '';
                                document.getElementById('Image3').files[0] = '';
                                document.getElementById('Image4').files[0] = '';
                                document.getElementById('Image5').files[0] = '';
                                document.getElementById('Image6').files[0] = '';
                                document.getElementById('Image7').files[0] = '';
                                resetPreview()
                            })
                            .then (() => {
                                // Get a reference to the element
                                const myElement = document.getElementById('inventoryTab');
                                // Create a new event
                                const myEvent = new Event('click');
                                // Dispatch the event
                                myElement.dispatchEvent(myEvent);
                            })
                            .catch((error) => {
                                showAlert('Error adding product:', "danger");
                            });
                        } else {
                            showAlert('Please fill in all the details before adding the product.',"danger");
                        }
                    }
                }
            </script>
        </section>

        <!-- deprecated -->
        <!-- <section class="main" id="categoriesSection"style="display: none;">
            <section class="main-orders">
                <h1>Add/View Categories</h1>
                <div class="category-container">
                    <div class="category-input">
                        <input type="text" id="categoryName" placeholder="Category Name">
                        <div id="currentDateTime" style="display: none;"></div>
                        <button onclick="addCategory()" class="add-category">Add Category</button>
                    </div>

                    <table class="category-table">
                        <thead>
                            <tr>
                                <th>Serial Number</th>
                                <th>Category Name</th>
                                <th>Date of Adding</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="categoryTableBody">

                            <tr>
                                <td>1</td>
                                <td>Electronics</td>
                                <td>2023-11-28</td>
                                <td>
                                    <button onclick="editCategory(this.parentNode.parentNode)">Edit</button>
                                    <button onclick="deleteCategory(this.parentNode.parentNode)">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Clothing</td>
                                <td>2023-11-27</td>
                                <td>
                                    <button onclick="editCategory(this.parentNode.parentNode)">Edit</button>
                                    <button onclick="deleteCategory(this.parentNode.parentNode)">Delete</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </section>
        </section> -->

        <!-- style for inventory Section -->
        <style>
            .item_edit_modal {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                justify-content: center;
                align-items: center;
                z-index: 1; /* Set z-index to appear above other elements */
            }
        
            .modal-content {
                background-color: #fff;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                max-width: 400px;
                width: 100%;
                text-align: left;
                position: relative;
            }

            .modal-content button{
                margin-top: 1vh;
                background-color: green;
                padding: 1vh;
                color: #fff;
                cursor: pointer;
                border-radius: 1vh;
            }
            
            .modal-content div{
                margin-top: 1vh;
                display: flex;
                justify-content: space-between;
            }
            
            .modal-content input{
                padding:1vh;
                border-radius: 1vh;
                width:50%;
                border: 1px solid #000;
            }

            .modal-content label{
                padding:1vh;
                padding-left:0;
                border-radius: 1vh;
                width:50%;
            }
        </style>
        <!-- completed -->
        <section class="main" id="inventorySection" style="display: none;">
            <section class="main-orders">
                <h1>Products Grid</h1>
                <div class="product-grid" id="productGrid"></div>
                
                <div id="editModal" class="item_edit_modal" style="display: none;">
                    <div class="modal-content">
                        <span class="close" onclick="closeEditModal()" style="cursor: pointer;">&#10060</span>
                        <h2>Edit Product</h2>
                        <div>
                            <label for="newStock">New Stock:</label>
                            <input type="number" id="newStock" name="newStock" required aria-describedby="newStockError">
                            <span id="newStockError" class="error-message"></span>
                        </div>
                        <div>
                            <label for="newOfferedPrice">New Offered Price:</label>
                            <input type="number" id="newOfferedPrice" name="newOfferedPrice" required aria-describedby="newOfferedPriceError">
                            <span id="newOfferedPriceError" class="error-message"></span>
                        </div>
                        <div>
                            <label for="newOriginalPrice">New Original Price:</label>
                            <input type="number" id="newOriginalPrice" name="newOriginalPrice" required aria-describedby="newOriginalPriceError">
                            <span id="newOriginalPriceError" class="error-message"></span>
                        </div>
                        <button onclick="updateData()">Save Changes</button>
                    </div>
                </div>
                
            </section>
            <script>
                let selectedItemId = ''
                async function updateData () {
                    let formdata = {
                        itemId: selectedItemId,
                        stock : document.querySelector('#newStock').value,
                        offeredPrice: document.querySelector('#newOfferedPrice').value,
                        originalPrice: document.querySelector('#newOriginalPrice').value
                    }
                    await axios.put(`/api/products`,{formdata})
                    .then(response => showAlert("product data updated successfully","success"))
                    .catch(err => showAlert("error updating the product","danger"))
                }
                async function openEditModal(itemId) {
                    selectedItemId = itemId;
                    document.querySelector(".item_edit_modal").style.display = 'flex';
                    await axios.get(`/api/products/${itemId}`)
                    .then(response => response.data)
                    .then(product => {
                        document.querySelector('#newStock').value = product.stock
                        document.querySelector('#newOfferedPrice').value = product.offeredPrice
                        document.querySelector('#newOriginalPrice').value = product.originalPrice
                    })
                    document.querySelector('#newStock').value
                }

                function closeEditModal() {
                    selectedItemId = '';
                    document.querySelector(".item_edit_modal").style.display = 'none';
                }

                async function deleteProduct(itemId) {
                    await axios.delete(`/api/products/${itemId}`)
                    .then(response => {
                        document.querySelector("."+itemId).innerHTML = ''
                        showAlert("product deleted successfully","success")
                    })
                    .catch(err => showAlert("some error occured when removing the product","danger"))
                }
                
                async function loadAllProducts () {
                    document.querySelector('.product-grid').innerHTML = ''
                    await axios.get('/api/products')
                    .then(response => response.data)
                    .then(products => {
                        let mainGrid = document.querySelector('.product-grid')
                        products.forEach(product => {
                            let productDiv = document.createElement('div')


                            var words = product.name.split(" ");
                            product.name = words.slice(0, 7).join(" ");
                            if (words.length > 7) {
                                product.name += " ...";
                            }
                            productDiv.innerHTML = `
                            <div class="product-card ${product.itemId}" style="text-transform:Capitalize;text-align:left;padding:1rem">
                                <img class="product-image" src="${product.imageLink[0]}" alt="Product 1">
                                <div class="product-name">${product.name}</div>
                                <div class="product-stock">Stock Left : ${product.stock}</div>
                                <div class="product-stock">Price : &#8377;${product.originalPrice}</div>
                                <div class="product-actions">
                                    <button onclick="openEditModal('${product.itemId}')">Edit</button>
                                    <button onclick="deleteProduct('${product.itemId}')">Delete</button>
                                </div>
                            </div>
                            `
                            mainGrid.append(productDiv)
                        })
                        showAlert("All Products Loaded","success")

                    })
                    .catch( err => showAlert("Error fetching products data", "danger"))
                }
                document.querySelector('#inventoryTab').addEventListener('click', async () => {
                    loadAllProducts();
                });
            </script>
        </section>

        <!-- deprecated -->
        <!-- <section class="main" id="paymentsSection" style="display: none;">
            <section class="main-orders">
                <h1>My Wallet</h1>
                <div class="wallet">
                    <div class="wallet-top" style="display:flex;justify-content: space-between;">
                        <div class="card">
                            <iconify-icon class="icon" icon="noto:money-bag"></iconify-icon>
                            <h4>Rs 50,000</h4>
                            <h5>Total Income</h5>
                        </div>
                        <div class="card">
                            <iconify-icon class="icon" icon="meteocons:clear-day-fill"></iconify-icon>
                            <h4>Rs 50,000</h4>
                            <h5>Today's Income</h5>
                        </div>
                        <div class="card">
                            <iconify-icon class="icon" icon="noto-v1:shopping-bags"></iconify-icon>
                            <h4>Rs 299</h4>
                            <h5>Average Order Value</h5>
                        </div>

                    </div>
                    <br>
                    <div class="mt-4">
                        <h3>Weekly Summary</h3>
                        
                    </div>

                    <div class="wallet-bottom">
                        <h3>Recent Transactions</h3>

                        <div style="display: flex;">
                            <div class="mb-3">
                                <button class="btn" id="btnToday">Today</button>
                                <button class="btn" id="btnLast7Days">Last 7 Days</button>
                                <button class="btn" id="btnLast30Days">Last 30 Days</button>
                            </div>

                            <div>
                                <input type="text" class="form-control" id="datePicker">
                                <button class="btn-show" id="btnShow">Show</button>
                            </div>
                        </div>

                        <table class="wallet-table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">User Name</th>
                                    <th scope="col">Pincode</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Amount Received</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <th scope="row">1</th>
                                    <td>ORD123456</td>
                                    <td>John Doe</td>
                                    <td>123456</td>
                                    <td>Product XYZ</td>
                                    <td>$50.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>ORD123456</td>
                                    <td>John Doe</td>
                                    <td>123456</td>
                                    <td>Product XYZ</td>
                                    <td>$50.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>ORD123456</td>
                                    <td>John Doe</td>
                                    <td>123456</td>
                                    <td>Product XYZ</td>
                                    <td>$50.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>ORD123456</td>
                                    <td>John Doe</td>
                                    <td>123456</td>
                                    <td>Product XYZ</td>
                                    <td>$50.00</td>
                                </tr>

                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </section> -->

        <!-- done -->
        <section class="main" id="coupon" style="display: none;">
            <section class="main-orders">
                <h1>Add/Delete Coupons</h1>
    
               <div class="coupon-container">
                <form id="couponForm">
                    <table>
                        <tr>
                            <th>Coupon Code</th>
                            <th>Discount Percentage</th>
                            <th>Validity Start</th>
                            <th>Validity End</th>
                            <th>Action</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="couponCode" name="couponCode" placeholder="Enter coupon Code" required>
                            </td>
                            <td>
                                <input type="number" id="discountPercentage" name="discountPercentage" placeholder="Enter discount percentage"
                                    required min="1" max="100" style="width: 15vw;">
                            </td>
                            <td>
                                <input type="datetime-local" id="validityStart" name="validityStart" placeholder="Select validity start" required>
                            </td>
                            <td>
                                <input type="datetime-local" id="validityEnd" name="validityEnd" placeholder="Select validity end" required>
                            </td>
                            <td>
                                <button type="button" onclick="addCoupon()">Add Coupon</button>
                            </td>
                        </tr>
                    </table>
                </form>
    
                <!-- Active Coupons List -->
                <div style="overflow: auto;height: 60vh;">
                    <h2 style="margin-top: 2rem;">Active Coupons</h2>
                    <table id="couponList">
                        <thead>
                            <tr>
                            <th>Coupon Name</th>
                            <th>Discount Percentage</th>
                            <th>Validity Start</th>
                            <th>Validity End</th>
                            <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="couponsTableBody">

                        </tbody>
                        <!-- Coupon items go here -->
                    </table>
                </div>
            </div>
            <script>
                async function addCoupon() {
                    const code = document.querySelector('#couponCode').value;
                    const discount = document.querySelector('#discountPercentage').value
                    const validityStart = document.querySelector('#validityStart').value
                    const validityEnds = document.querySelector('#validityEnd').value

                    if (code && discount && validityStart && validityEnds) {
                        await axios.post('/coupons',{code, discount, validityStart, validityEnds})
                        .then(response => {
                            console.log(response)
                            let row = document.createElement('tr')
                            row.classList.add(`code_${coupon.code}`)
                            row.innerHTML = `
                            <tr>
                                <td>${code}</td>
                                <td>${discount}%</td>
                                <td>${validityStart}</td>
                                <td>${validityEnds}</td>
                                <td><button onclick="deleteCoupon('${code}')">Delete</button></th>
                            </tr>
                            `
                            document.querySelector('.couponsTableBody').append(row)

                            document.querySelector('#couponCode').value = ''
                            document.querySelector('#discountPercentage').value = ''
                            document.querySelector('#validityStart').value = ''
                            document.querySelector('#validityEnd').value = ''

                            showAlert("coupon Added successfully","success")

                        })
                        .catch(err => showAlert('an error occured creating a coupon',"danger"))
                    }
                }
                async function deleteCoupon(code) {
                    await axios.delete(`/coupons/${code}`)
                    .then(response => {
                        console.log(response.data.message)
                        document.querySelector(`.code_${code}`).innerHTML = ''
                        showAlert("coupon deleted successfully","success")
                    })
                    .catch(err => showAlert("failed to delete coupon ","danger"))
                }
                document.querySelector('#couponTab').addEventListener('click', async () => {
                    await axios.get('/coupons')
                    .then(response => response.data)
                    .then(coupons => {
                        let body = document.querySelector('.couponsTableBody')
                        body.innerHTML = ''
                        coupons.forEach(coupon => {
                            let row = document.createElement('tr')
                            row.classList.add(`code_${coupon.code}`)
                            row.innerHTML = `
                            <tr>
                                <td>${coupon.code}</td>
                                <td>${coupon.discount}%</td>
                                <td>${coupon.validityStart}</td>
                                <td>${coupon.validityEnds}</td>
                                <td><button onclick="deleteCoupon('${coupon.code}')">Delete</button></th>
                            </tr>
                            `
                            body.append(row)
                            showAlert("coupons loaded successfully","success")        
                        })
                    })
                    .catch(err => showAlert("an error occured while fetching the coupons","danger"))
                })
            </script>
            </section>
        </section>
  <%- include('partials/loader') %> 
    
    </div>
    <script>
        function showDashboard() {
        showSection('dashboardSection');
        setActiveTab('dashboardTab');
    }

    function showAnalytics() {
        showSection('analyticsSection');
        setActiveTab('analyticsTab');
    }

    function showOrders() {
        showSection('ordersSection');
        setActiveTab('ordersTab');
    }

    function showProducts() {
        showSection('productsSection');
        setActiveTab('productsTab');
    }

    function showCategories() {
        showSection('categoriesSection');
        setActiveTab('categoriesTab');
    }

    function showInventory() {
        showSection('inventorySection');
        setActiveTab('inventoryTab');
    }

    function showPayments() {
        showSection('paymentsSection');
        setActiveTab('paymentsTab');
    }

    function showSettings() {
        showSection('settingsSection');
        setActiveTab('settingsTab');
    }

    function showLogout() {
        showSection('logoutSection');
        setActiveTab('logoutTab');
    }

    function showCoupon() {
        showSection('coupon');
        setActiveTab('couponTab');
    }

    function showSection(sectionId) {

            var sections = document.getElementsByClassName('main');
            for (var i = 0; i < sections.length; i++) {
                sections[i].style.display = 'none';
            }

            var selectedSection = document.getElementById(sectionId);
            if (selectedSection) {
                selectedSection.style.display = 'block';
            }
        }
    </script>

</body>

</html>