<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WhiteWolf - Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/whitewolflog.png">
    <style>
        .blog-post {
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #fff;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            margin-bottom: 20px;
            box-shadow: 1px 2px 10px #fff;
            height: 100%;
        }

        .blog-post h2{
            font-size: 3vh;
        }
    </style>
</head>
<body style="background-color: #000;">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000;">
        <div class="container-fluid d-flex align-items-center justify-content-center">
            <a class="navbar-brand" href="/">
                <img src="/assets/ww side name logo.png_white@3x.png" alt="Logo" style="height: 5vh; display: block; margin: 0 auto;">
            </a>
        </div>
    </nav>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="blog-post">
                    <h2>Blog Post Title 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
                    <a href="#" class="btn btn-dark">Read More</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="blog-post">
                    <h2>Blog Post Title 2</h2>
                    <p>Quisque porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
                    <a href="#" class="btn btn-dark">Read More</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="blog-post">
                    <h2>Blog Post Title 3</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
                    <a href="#" class="btn btn-dark">Read More</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="blog-post">
                    <h2>Blog Post Title 4</h2>
                    <p>Quisque porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
                    <a href="#" class="btn btn-dark">Read More</a>
                </div>
            </div>
            <!-- Repeat the structure for more blog posts -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
