<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WhiteWolf - Coming Soon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../assets/whitewolflog.png"
    />

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NQVB53VH');</script>
    <!-- End Google Tag Manager -->  

    
    <style>
        body {
            height: 100%;
            width: 100%;
            background-color: #000;
            color: #fff;
            font-family: 'Outfit', sans-serif;
        }

        .container {
            height: 80vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .error-code {
            font-size: 12vh;
            font-weight: bold;
        }

        .error-message {
            font-size: 4vh;
            margin-top: 20px;
        }

        .btn-home {
            margin-top: 20px;
        }
    </style>
    
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQVB53VH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) --> 

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000;">
        <div class="container-fluid d-flex align-items-center justify-content-center">
            <a class="navbar-brand" href="#">
                <img src="/assets/ww side name logo.png_white@3x.png" alt="Logo" style="height: 5vh; display: block; margin: 0 auto;">
            </a>
        </div>
    </nav>
    
    <div class="container">
        <div>
            <div class="error-code">📢 Coming Soon</div>
            <div class="error-message">Stay Tuned</div>
            <a href="/" class="btn btn-light btn-home">Back to Home</a>
        </div>
    </div>

    <!-- <%- include('partials/footernew') %> -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>