<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/WhiteIcon.png">
    <style>
        body {
            background-color: #000;
            color: #fff;
            font-family: 'Outfit', sans-serif;
        }

        .container {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .error-code {
            font-size: 10em;
            font-weight: bold;
        }

        .error-message {
            font-size: 2em;
            margin-top: 20px;
        }

        .btn-home {
            margin-top: 20px;
        }
    </style>
    
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div>
            <div class="error-code">404</div>
            <div class="error-message">Page Not Found</div>
            <a href="/" class="btn btn-light btn-home">Back to Home</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>