<!doctype html>
<html>
   <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width, initial-scale=1'>
      <title>Order Failed</title>
      <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
      <link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>
      <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500&display=swap">
      <link rel="shortcut icon" type="image/x-icon" href="../assets/whitewolflog.png"/>
      <style>@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
         * {
         padding: 0;
         margin: 0;
         box-sizing: border-box;
         font-family: 'Outfit', sans-serif;
         }
         body {
         background-color: #000;
         }
         #order-heading {
         background-color: #edf4f7;
         position: relative;
         border-top-left-radius: 1vh;
         border-top-right-radius: 1vh;
         max-width: 800px;
         padding-top: 20px;
         margin: 10vh auto 0px;
         }
         #order-heading .text-uppercase {
         font-size: 0.9rem;
         color: #777;
         font-weight: 600
         }
         #order-heading .h4 {
         font-weight: 600
         }
         #order-heading .h4+div p {
         font-size: 0.8rem;
         color: #777
         }
         .close {
         padding: 10px 15px;
         background-color: #777;
         border-radius: 50%;
         position: absolute;
         right: -15px;
         display: none;
         top: -20px
         }

         .Shipping_Address p{
            font-size: 2rem;
         }

         .wrapper {
         padding: 20px;
         height: max-content;
         max-width: 800px;
         margin: 0px auto 40px;
         border-bottom-left-radius: 1vh;
         border-bottom-right-radius: 1vh;
         }
         .table th {
         border-top: none
         }
         .table thead tr.text-uppercase th {
         font-size: 0.8rem;
         padding-left: 0px;
         padding-right: 0px
         }
         .table tbody tr th,
         .table tbody tr td {
         font-size: 0.9rem;
         padding-left: 0px;
         padding-right: 0px;
         padding-bottom: 5px
         }
         .table-responsive {
         height: 100px
         }
         .list div b {
         font-size: 0.8rem
         }
         .list .order-item {
         font-weight: 600;
         color: #6db3ec
         }
         .list:hover {
         background-color: #f4f4f4;
         cursor: pointer;
         border-radius: 5px
         }
         label {
         margin-bottom: 0;
         padding: 0;
         font-weight: 900
         }
         button.btn {
         font-size: 0.9rem;
         }
         .price {
         color: #5cb99a;
         font-weight: 700
         }
         p.text-justify {
         font-size: 0.9rem;
         margin: 0
         }
         .row {
         margin: 0px
         }
         .subscriptions {
            text-transform: capitalize;
         border: 1px solid #ddd;
         border-left: 5px solid #ffa500;
         border-right: 5px solid #ffa500;
         padding: 10px
         }
         .subscriptions div {
         font-size: 1.7vh;
         }
         @media(max-width: 425px) {
         .wrapper {
         padding: 20px
         }
         body {
         font-size: 0.85rem;
         padding: 2rem;
         }
         .subscriptions div {
         padding-left: 5px
         }
         img+label {
         font-size: 0.75rem
         }
         }
      </style>
      <script type='text/javascript' src=''></script>
      <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
      <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>
   </head>
   <body oncontextmenu='return false' class='snippet-body'>
      <div class="d-flex flex-column justify-content-center align-items-center" id="order-heading">
         <div class="d-flex flex-column justify-content-center align-items-center m-2">
            <img  src="../assets/whitewolflog.png" style="height: 5vh;margin-bottom: 1rem;">
            <h1 style="font-size: 2rem;">WhiteWolf India - Transaction Failure.</h1>
         </div>
         <div class="h4 date"><%= new Date().toLocaleDateString() %></div>
         <div class="btn close text-white"> &times; </div>
      </div>
      <div class="wrapper bg-white pt-3 text-center d-flex flex-column align-items-center justify-content-center">
         
         <img
         src="../assets/order-faild.gif"
         style="width: 6rem; margin: 2rem"
       >
        <h3>Failed to Place your Order!</h3>
        <h3 class="mb-5">Please Retry Again</h3>
         <div class="subscriptions mt-5">
            <div>Redirecting you to home screen in 5 seconds.</div>
         </div>
      </div>
  <%- include('partials/loader') %> 

      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script>
         document.addEventListener('DOMContentLoaded', async () => {
            let Total = 0;
            await axios.get('/getprofile')
               .then(response => response.data.userProfile)
               .then(profile => {
                  profile.cart.forEach(async cartItem => {
                     await axios.get(`/api/products/${cartItem.itemId}`)
                        .then(response => response.data)
                        .then(productDetails => {
                           Total += productDetails.offeredPrice * cartItem.quantity;
                           document.querySelector('.total').innerHTML = `<b>&#8377;${Total}</b>`;
                        })
                        .catch(err => console.log("could not fetch product\n" + err))
                  })
                  document.querySelector('.Shipping_Address').innerHTML = `
                  <b>Shipping Address</b>
                  <p class="text-justify pt-2">${profile.pincode || ""}</p>
                  <p class="text-justify">${profile.address || ""} ${profile.city || `<a href="/profile">Please Add a City</a>`}</p>
                  <p class="text-justify">${profile.locality || ""} ${profile.landmark || ""}</p>
                  <p class="text-justify">${profile.email}</p>
               `;

                  // Create a new Date object
                  var today = new Date();
                  var year = today.getFullYear();
                  var month = today.getMonth() + 1;
                  var day = today.getDate();
                  var formattedDate = year + '/' + (month < 10 ? '0' + month : month) + '/' + (day < 10 ? '0' + day : day);

                  document.querySelector('.date').textContent = formattedDate;
               })
               .catch(err => { console.log("could not fetch profile\n" + err) })

            setTimeout(() => {
               window.location.href = '/';
            }, 5000); // Redirect after 10 seconds
         })
      </script>
   </body>
</html>
