<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <style>
    body {
      height: 100vh;
      margin: 0;
      font-family: 'Poppins', sans-serif !important;
    }

    h2{
        font-size: 4vh;
        font-weight: 900;
    }

    p{
        font-size: 2.5vh;
    }

    form{
      box-shadow: 0 1px 10px #f2f2f2;
    }
    #signupContainer {
      height: 100%;
      
    }

    label{
        font-size: 2vh;
    }

    .form-control{
        font-size: 2vh;
    }
    @media (max-width: 767.98px) {
        h2{
        font-size: 3.5vh;
    }
      #signupForm {
        height: auto;
      }
      #backgroundImage {
        display: none;
      }
    }
  </style>
</head>
<body>

  <div class="container-fluid" style="height: 100vh;">
    <div class="row">
      <div class="col-md-5 form d-flex flex-column justify-content-center p-5" style="background-color: #000; height: 100vh;">
        
        <form id="signupForm" class="p-5" style="box-shadow:0px 0px 5px #000;border-radius: 10px;background-color: #f7f7f7;box-shadow: 0 0px 10px #fff;">
            <h2 class="mb-1 text-uppercase bolder">Welcome to WhiteWolf</h2>
            <p>Already signed up? <a href="/login">Login Now</a></p>
            <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="Name" required>
              </div>
              
              <div class="form-group">
                <input type="tel" class="form-control" id="phone" placeholder="Phone Number" required>
              </div>
              
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email Address" required>
              </div>
              
              <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Password" required>
              </div>
              
              <div class="form-group">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
              </div>              
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="termsCheck" required>
            <label class="form-check-label" for="termsCheck">I agree to the <a href="#">Privacy</a> and <a href="#">Terms</a></label>
          </div>
          <button type="submit" class="btn btn-primary" disabled>Sign Up Now</button>
        </form>
      </div>

      <div class="col-md-7" id="backgroundImage" style="background-image: url('assets/signup.png'); background-size: cover; background-position: center; height: 100vh;">
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    document.getElementById('signupForm').addEventListener('input', async function ()  {
      var name = document.getElementById('name').value;
      var phone = document.getElementById('phone').value;
      var email = document.getElementById('email').value;
      var password = document.getElementById('password').value;
      var confirmPassword = document.getElementById('confirmPassword').value;
      var termsCheck = document.getElementById('termsCheck').checked;

      var signUpButton = document.querySelector('button[type="submit"]');
      signUpButton.disabled = !(name && phone && email && password && confirmPassword && termsCheck);
    });
    document.getElementById("signupForm").addEventListener("submit", async function (event) {
        event.preventDefault();
        const name = document.getElementById('name').value;
        const phone = document.getElementById('phone').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;
        const termsCheck = document.getElementById('termsCheck').checked;


        const response = await axios.post('/auth/signup', {
            name,
            phone,
            email,
            password
        }).then(response => {  
          if (response.status === 200) {
              window.location.href = "/";
          } else {
              console.error('Registration failed:', response.data.message);
          }
        }).catch(error => {console.log("A error occured while signing in" + error)})
      });
    </script>
</body>
</html>
