<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>WhiteWolf - Your Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../assets/whitewolflog.png"
    />

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NQVB53VH");
    </script>
    <!-- End Google Tag Manager -->

    <style type="text/css">
      body {
        background: #000;
        font-family: "Poppins", sans-serif;
      }

      .nav-items {
        text-decoration: none;
        justify-content: space-around;
      }

      .promo-strip {
        width: 100%;
        background-color: #fff;
        text-align: center;
        padding: 0.5rem 0;
        color: #000;
        font-weight: bold;
      }

      .container {
        margin-top: 13% !important;
      }

      .card {
        max-height: 90vh;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: 1vh;
        margin-bottom: 0;
        box-shadow: 0 1px 2px 1px #f7f7f7;
      }

      .card .nav-item a {
        color: #000;
        border: 1px solid #000;
        border-radius: 1vh;
      }

      .card .nav-item .active {
        background-color: #000;
        color: #fff;
        border: 1px solid #000;
        box-shadow: none;
        border-radius: 1vh;
      }

      .card .nav-item:hover {
        border: 1px solid #000;
        border-radius: 1vh;
      }

      .me-2 {
        margin-right: 0.5rem !important;
      }

      .tab-pane {
        border-radius: 1vh;
        box-shadow: 0 1px 2px 1px #f7f7f7;
      }

      .tab-pane .form-control::placeholder {
        color: #999; /* Change placeholder color to gray */
      }

      .product-table tbody td:nth-child(1) {
        cursor: pointer;
        text-transform: capitalize;
        text-decoration: underline;
      }

      .product-table img {
        max-width: 50px;
        max-height: 50px;
      }

      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 1.2rem;
        color: #fff;
        display: block;
        transition: 0.3s;
      }
      .sidenav a:hover {
        background-color: #fff;
        color: #000;
      }
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      .sidenav .closebtn:hover {
        background-color: #111;
        color: #fff;
      }
      #main {
        transition: margin-left 0.5s;
        padding: 16px;
      }
      @media screen and (max-height: 450px) {
        .sidenav {
          padding-top: 15px;
        }
        .sidenav a {
          font-size: 1vh;
        }
      }

      @media (max-width: 767px) {
        body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0rem;
        }

        .container {
          padding: 2rem;
        }

        .container .card {
          height: max-content;
        }

        .container .tabs-part {
          margin-top: 2rem;
        }
        .d-flex.flex-column.align-items-center.text-center p.text-left {
          display: none;
        }

        .tabs-buttons .nav-item {
          margin-bottom: 15px;
          width: 100%;
        }

        .tabs-buttons .nav-link {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        .tabs-buttons .nav-link i {
          margin-right: 8px;
        }

        .table-responsive table {
          font-size: 0.7rem;
        }

        .d-flex.flex-column.mt-3 {
          margin-top: 0;
        }

        .nav.nav-tabs.flex-column {
          flex-direction: row;
          align-items: center;
        }

        .nav-item.mb-2 {
          margin-bottom: 0;
          margin-right: 15px;
        }
      }
    </style>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NQVB53VH"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('partials/nav') %> <%- include('partials/cart') %>
    <div class="container mt-0 mb-5">
      <div class="main-body mt-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <!-- <img src="assets/logo.PNG" alt="Admin" class="rounded-circle p-1 bg-dark" width="110"> -->
                  <div class="mt-3">
                    <h4 class="username"></h4>
                    <p class="text-secondary mb-1">Hi WhiteWolf Customer</p>
                  </div>
                  <p class="text-left mt-3 text-capitalize">
                    We specializes in premium men's grooming products for skin,
                    hair, and beard care, redefining personal care.
                  </p>
                </div>
                <div class="d-flex flex-column tabs-buttons mt-3">
                  <ul class="nav nav-tabs flex-column" id="myTabs">
                    <li class="nav-item mb-2">
                      <a
                        class="nav-link active d-flex align-items-center"
                        data-toggle="tab"
                        href="#myOrders"
                      >
                        <i class="fas fa-shopping-bag mr-2"></i>My Orders
                      </a>
                    </li>
                    <li class="nav-item mb-2">
                      <a
                        class="nav-link d-flex align-items-center"
                        data-toggle="tab"
                        href="#accountInfo"
                      >
                        <i class="fas fa-user mr-2"></i>Account Information
                      </a>
                    </li>
                    <li class="nav-item mb-2">
                      <a
                        class="nav-link d-flex align-items-center"
                        data-toggle="tab"
                        href="#help"
                      >
                        <i class="fas fa-question-circle mr-2"></i>Help
                      </a>
                    </li>
                    <li class="nav-item mb-2">
                      <a
                        class="nav-link d-flex align-items-center"
                        data-toggle="tab"
                        href="#logout"
                      >
                        <i class="fas fa-sign-out-alt mr-2"></i>Logout
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 tabs-part">
            <div class="tab-content">
              <div
                class="tab-pane fade show active"
                id="myOrders"
                style="overflow-y: auto"
              >
                <div class="card" style="overflow-y: auto;">
                  <div class="card-body">
                    <h5 class="d-flex align-items-center mb-3">My Orders</h5>

                    <div class="table-responsive">
                      <table class="table product-table">
                        <thead>
                          <tr>
                            <th>Order ID</th>
                            <th>Items</th>
                            <th>Price</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody class="orders"></tbody>
                      </table>
                      <!-- <table>
                                            <thead>
                                                <thead>
                                                    <th>Product Image</th>
                                                    <th>Product Name & Price</th>
                                                    <th>Product Status</th>
                                                </thead>
                                                <tbody>
                                                    
                                                </tbody>
                                            </thead>
                                        </table> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="accountInfo">
                <div class="card">
                  <div class="card-body">
                    <h5 class="d-flex align-items-center mb-3">
                      Account Information
                    </h5>
                    <form>
                      <div class="row mb-3">
                        <div class="col-sm-6">
                          <input
                            type="text"
                            class="form-control name"
                            placeholder="Name"
                          />
                        </div>
                        <div class="col-sm-6">
                          <input
                            type="email"
                            class="form-control email"
                            placeholder="Email"
                            disabled
                          />
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-sm-6">
                          <input
                            type="tel"
                            class="form-control phone"
                            placeholder="Phone Number"
                            disabled
                          />
                        </div>
                        <div class="col-sm-6">
                          <input
                            type="text"
                            class="form-control pincode"
                            placeholder="Pincode"
                          />
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-sm-6">
                          <input
                            type="text"
                            class="form-control locality"
                            placeholder="Locality"
                          />
                        </div>
                        <div class="col-sm-6">
                          <input
                            type="text"
                            class="form-control landmark"
                            placeholder="Landmark (optional)"
                          />
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-sm-6">
                          <input
                            type="text"
                            class="form-control city"
                            placeholder="City/Town"
                          />
                        </div>
                        <div class="col-sm-6">
                          <select
                            class="form-control"
                            placeholder="Select State"
                          >
                            <option value="Andhra Pradesh">
                              Andhra Pradesh
                            </option>
                            <option value="Arunachal Pradesh">
                              Arunachal Pradesh
                            </option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">
                              Himachal Pradesh
                            </option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Madhya Pradesh">
                              Madhya Pradesh
                            </option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>
                          </select>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-sm-12">
                          <textarea
                            class="form-control address"
                            rows="2"
                            placeholder="Address (Area and Street)"
                          ></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <button
                            type="button"
                            class="btn btn-dark px-4 form-submit-button"
                          >
                            Save Changes
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="help">
                <div class="card">
                  <div class="card-body">
                    <h5 class="d-flex align-items-center mb-3">Help</h5>
                    <p>
                      If you need assistance, please feel free to contact our
                      helpline:
                    </p>
                    <div class="d-flex align-items-center">
                      <i class="fa fa-phone mr-1" aria-hidden="true"></i>
                      <span>Helpline Number: 180021020016</span>
                    </div>
                    <div class="mt-3">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                      <span>Email: care@whitewolfindia.com</span>
                    </div>
                    <p class="mt-3">
                      <i class="fa fa-building" aria-hidden="true"></i> Office
                      Address:
                    </p>
                    <p>
                      KUSHMANDA COSMETICS PRIVATE LIMITED PLOT NO. 191, 1ST
                      FLOOR, INDUSTRIAL AREA PHASE 2, CHANDIGARH - 160002
                    </p>
                    <p class="mt-3">
                      Feel free to reach out to us anytime. We are here to help!
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="logout">
                <div class="card">
                  <div class="card-body">
                    <button class="btn btn-danger" onclick="confirmLogout()">
                      Logout
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/loader') %>
    <!-- <%- include('partials/footernew') %> -->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#myTabs a").click(function (e) {
          e.preventDefault();
          $(this).tab("show");
        });
      });
      async function confirmLogout() {
        if (confirm("Are you sure you want to logout?")) {
          const response = await axios
            .get("/logout")
            .then((response) => {
              if (response.status === 200) {
                showAlert("logged out successfully", "success");
                window.location.href = "/";
              }
            })
            .catch((error) => {
              showAlert("Failed to logout", "danger");
              console.error("Logout failed", response.data.message);
            });
        } else {
          alert("Logout canceled.");
        }
      }
      function createTableCell(content) {
        let cell = document.createElement("td");
        cell.innerHTML = content;
        return cell;
      }

      function imageCell(link) {
        var item = document.createElement("td");

        item.innerHTML = `<img src="${link}" alt="product image" style="height:auto;width:5vh">`;
        return item;
      }
      function createTableRow(
        orderId,
        orderNumber,
        orderItems,
        OrderPayment,
        OrderStatus
      ) {
        let row = document.createElement("tr");

        // Attach a click event listener to the table row
        row.addEventListener("click", function () {
          // Redirect to the specified URL
          window.location.href = `/order-track/${orderId}`;
        });

        row.append(createTableCell(orderNumber));
        row.append(createTableCell(orderItems));
        row.append(createTableCell("&#8377;" + OrderPayment));
        row.append(createTableCell(OrderStatus));

        return row;
      }
      document.addEventListener("DOMContentLoaded", async function () {
        await axios
          .get("/getprofile")
          .then((response) => response.data.userProfile)
          .then(async (data) => {
            document.querySelector(".username").textContent = data.name;

            document.querySelector(".name").value = data.name || "";
            document.querySelector(".email").value = data.email || "";
            document.querySelector(".phone").value = data.phone || "";
            document.querySelector(".pincode").value = data.pincode || "";
            document.querySelector(".locality").value = data.locality || "";
            document.querySelector(".landmark").value = data.landmark || "";
            document.querySelector(".city").value = data.city || "";
            document.querySelector(".address").value = data.address || "";

            await axios
              .get("/api/order")
              .then((response) => response.data)
              .then(async (orders) => {
                const orderPromises = orders.map(async (order) => {
                  let names = "";
                  let iconImage = "";
                  await Promise.all(
                    order.products.map(async (product, index) => {
                      try {
                        const response = await axios.get(
                          `/api/products/${product.itemId}`
                        );
                        if (index === 0) {
                          iconImage = response.data.imageLink[0];
                        }
                        names += ` ${response.data.name}`;
                      } catch (err) {
                        console.log("error fetching products", err);
                      }
                    })
                  );
                  document
                    .querySelector(".orders")
                    .append(
                      createTableRow(
                        order.razorpay_order_id,
                        `<img src="${iconImage}"></img> ${
                          order.razorpay_order_id.length > 15
                            ? order.razorpay_order_id.slice(0, 15) + "..."
                            : order.razorpay_order_id
                        }`,
                        names,
                        order.totalPayment,
                        order.status
                      )
                    );
                });
                await Promise.all(orderPromises);
              })
              .catch((err) => {
                console.log("error fetching orders " + err);
                showAlert("Failed to fetch orders", "danger");
              });
          })
          .catch((err) => {
            console.log("error fetching profile" + err);
          });
      });
      document
        .querySelector(".form-submit-button")
        .addEventListener("click", async () => {
          const name = document.querySelector(".name").value;
          const email = document.querySelector(".email").value;
          const phone = document.querySelector(".phone").value;
          const pincode = document.querySelector(".pincode").value;
          const locality = document.querySelector(".locality").value;
          const landmark = document.querySelector(".landmark").value;
          const city = document.querySelector(".city").value;
          const address = document.querySelector(".address").value;
          const userProfile = {
            name,
            email,
            phone,
            pincode,
            locality,
            landmark,
            city,
            address,
          };

          await axios
            .put("/updateUserProfile", { userProfile })
            .then((response) =>
              showAlert("user data updated successfully", "success")
            )
            .catch((err) => showAlert("an error occured", "danger"));
        });
    </script>
  </body>
</html>
