*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif !important;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
}
.card-wrapper{
    background-color: #000;
    max-width: 90%;
    margin-top: 0;
}

.cardio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

/* Media query for screens with a maximum width of 768px (adjust as needed) */
@media screen and (max-width: 768px) {
    .cardio {
        grid-template-columns: 1fr; /* Display in a single column */
    }
}

/* img{
    width: 80%;
    display: block;
} */

.product-imgs {
    display: grid;
    grid-template-rows: 4fr 1fr; /* 80% main image, 20% additional images */
    grid-row-gap: 1rem;
    height: 80vh;
}

.main-image,
.additional-images {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    overflow: hidden;
    margin: 0;
}

.main-image img,
.additional-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}

.main-image {
    max-height: calc(4/5 * 80vh); /* 80% of the total height for the main image */
}

.additional-images {
    background-color: #000;
    max-height: calc(1/5 * 80vh); /* 20% of the total height for the additional images */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns for additional images */
    column-gap: 1rem; /* Adjusted gap between additional images */
}

.additional-image img {
    height: 100%; /* Each additional image takes full height of its container */
}



/* .product-imgs,
.img-display{
    background-color: red;
    margin-right: 4rem;
    overflow: hidden;
    border-radius: none;
}
.img-showcase{
    overflow: hidden;
    display: flex;
    background-color: #fff;
    padding: 2rem;
    height: 60vh;
    width: auto;
    transition: all 0.5s ease;
}
.img-showcase img{
    width: 100%;
    object-fit: contain;
}
.img-select{
    margin-top: 1rem;
    background-color:#000;
    height: 25vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.img-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24vh;
    background-color: rgb(155, 139, 139);
}

.img-item img{
    width: 35%;
    height: auto;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
} */
.product-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 1rem;
}
.product-title{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    color: #fff;
    margin: 1rem 0;
}

.product-link{
    width: max-content;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    background: #fff;
    color: #000;
    padding: 0.5rem;
    border-radius: 0.2rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #fff;
}
.product-rating span{
    font-weight: 600;

}
.product-price{
    display: flex;
    flex-direction: row;
    margin:1rem;
    margin-left: 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price .new-price{
    font-size: 2rem;
    color: #fff;
    margin-right: 1rem;
    font-weight: 700;
}


.product-price .discount-percentage{
    font-size: 2rem;
    color: orangered;
    margin-right: 1rem;
    font-weight: 700;
}

.last-price,.tax{
    font-size: 1.2rem;
}

.last-price span{
    color: #fff;
    text-decoration: line-through;
   
}

.tax{
    margin-bottom: 2rem;
}

.product-detail h2{
    font-size: 1rem;
    text-transform: capitalize;
    color: #fff;
    padding-bottom: 0.6rem;
}
.product-detail p{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.4rem;

}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    padding: 0;
}
.purchase-info input,
.purchase-info .btn{
    width: 100%;
    background: #fff;
    border: 2px solid #fff;
    text-align: center;
    font-size: 1.5rem;
    padding: 1.2rem;
    border-radius: 0;
    outline: 0;
    color: #000;
    cursor: pointer;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}

.social ul a {
    width: 0.5rem;
    height: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem; /* Adjust the font size accordingly */
    background-color: #fff;
    border-radius: 50%;
    color: #000;
}

.purchase-info .btn:hover{
    opacity: 0.9;
}


  .promo-strip {
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 0.5rem 0;
    color: #000;
    font-weight: bold;
    }


.footer iconify-icon{
    font-size: 1.5rem;
}


.social-links{
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    border: 2px solid #fff;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

.faq-section {
    width: 88%;
    font-size: 3rem;
    margin-top: 20px;
}

.faq-question {
    border-bottom: 1px solid grey;
    padding: 1rem;
    margin-top: 1rem;
   
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.faq-answer {
    max-height: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    overflow: hidden;
    border-bottom: 1px solid #f7f7f7;
    transition: max-height 0.3s ease-out;
}

.faq-question.active {
    background-color: #f5f5f5;
    
    color: #000;
}

.faq-question .icon {
    transition: transform 0.3s;
}

.faq-question.active .icon {
    transform: rotate(45deg);
}

.product-container {
            width: 88%;
            height: 40vh;
            margin-top: 3rem;
            background-color: #fff;
            padding: 20px;
        }

        .product-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .view-related-products {
            font-size: 1.5em;
            color: #333;
        }

        .view-all-btn {
            font-family: 'Poppins', sans-serif !important;
            padding: 10px 20px;
            background-color: #343a40;
            color: #fff;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
        }

        .view-all-btn:hover {
            background-color: #23272b;
            transform: scale(1.05);
        }


@media screen and (min-width: 992px){
    .cardio{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .product-content{
        padding-top: 0;
    }
}