*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif !important;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
}
.card-wrapper{
    background-color: #000;
    max-width: 90%;
    margin-top: -10vh;
}

@media screen and (max-width: 768px) {
    .cardio {
        grid-template-columns: 1fr; 
    }


    .parent-container{
        display: flex;
        flex-direction: column;
    }


}

.product-imgs {
    display: grid;
    grid-template-rows: 4fr 1fr; 
    grid-row-gap: 1rem;
    height: 80vh;
}

.main-image,
.additional-images {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.main-image {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}


.main-image {
    max-height: calc(4/5 * 80vh); 
}

.additional-images {
    height: 20vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    column-gap: 10px; /* Adjust the gap between columns as needed */
}

#mainProductImage {
    transition: transform 0.3s ease-in-out; /* Add a transition effect on transform */
}

.slide-out {
    transform: translateX(-100%); /* Slide the image to the left */
}

.additional-image {
    width: 25vh; /* Set the width of your larger divs */
    height: 25vh; /* Set the height of your larger divs */
    background-size: contain;
    background-color: #fff; 
    background-repeat: no-repeat;/* Ensure the background image fits within the div */
    background-position: center; /* Center the background image within the div */
    cursor: pointer; /* Add a pointer cursor for better UX since you have an onclick event */
    /* You can add additional styling for the individual divs here */
}

.additional-image img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}


.product-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    /* background-color: red; */
}
.product-content .product-title{
    font-size: 4vh;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    color: #fff;
    margin: 0 0;
}

.butns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.quantity-container {
    display: flex;
    padding: 0;
    align-items: flex-start;
    justify-content: right;
}

.quantity-container button{
    width: 20%;
    height: 10vh;
    font-size: 5vh;
    border: none;
    outline: none;
    margin: 0;
    background-color: #f7f7f7;
}

@media screen and (max-width: 600px) {
    .social-links a{
        margin-top: -1vh;
    }
    .butns{
        display: flex;
        flex-direction: column;
        margin-bottom: 2vh;
    }

    .quantity-container{
        width: 100%;
    }

    #quantity-input {
        outline: none;
        border: none;
        width: 60%;
        height: 10vh;
        font-size: 5vh;
        margin: 0;
        text-align: center;
    }
    .quantity-container button{
        width: 40%;
        height: 10vh;
        font-size: 5vh;
        border: none;
        outline: none;
        margin: 0;
        background-color: #f7f7f7;
    }
}

#quantity-input {
    outline: none;
    border: none;
    width: 40%;
    height: 10vh;
    font-size: 5vh;
    margin: 0;
    text-align: center;
}

.product-link{
    width: max-content;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    background: #fff;
    color: #000;
    padding: 0.5rem;
    border-radius: 0.2rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: #fff;
}
.product-rating span{
    font-weight: 400;
    margin-left: 0.5vh;

}
.product-price{
    display: flex;
    flex-direction: row;
    margin: 1vh;
    margin-left: 0;
    font-weight: 600;
}

.product-price .new-price{
    font-size: 4vh;
    color: #fff;
    margin-right: 1rem;
    font-weight: 500;
}

.product-price .discount-percentage{
    font-size: 4vh;
    color: red;
    margin-right: 1rem;
    font-weight: 500;
}

.last-price,.tax{
    font-size: 3vh;
    margin-bottom: 1vh;
}

.last-price span{
    color: #fff;
    text-decoration: line-through;
   
}

.tax{
    margin-bottom: 4vh;
}

.product-detail h2{
    font-size: 1rem;
    text-transform: capitalize;
    color: #fff;
    padding-bottom: 0.6rem;
}
.product-detail p{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.4rem;

}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    padding: 0;
}
.purchase-info input,
.purchase-info .btn{
    width: 100%;
    background-color: #fff;
    font-size: 4vh;
}
.purchase-info input{
    width: 60px;
}

.purchase-info .btn:hover{
    opacity: 0.9;
}

.promo-strip {
    width: 100%;
    text-transform: uppercase;
    background-color: #fff;
    text-align: center;
    padding: 0.5rem 0;
    color: #000;
    font-weight: regular;
    }

.footer iconify-icon{
    font-size: 1.5rem;
}

.social-links{
    color: #fff;
    font-size: 3vh;
}
.social-links a{
    margin-top: -1vh;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

.faq-section {
    width: 88%;
    font-size: 5vh;
    margin-top: 20px;
}

.faq-question {
    border-bottom: 1px solid grey;
    padding: 1rem;
    margin-top: 1rem;
    font-weight: 300;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.faq-answer {
    max-height: 0;
    margin-top: 1rem;
    font-size: 3vh;
    font-weight: regular;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.faq-question.active {
    background-color: #f5f5f5;
    
    color: #000;
}

.faq-question .icon {
    transition: transform 0.3s;
}

.product-container {
            width: 88%;
            height: 40vh;
            margin-top: 3rem;
            background-color: #fff;
            padding: 20px;
        }

        .product-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .view-related-products {
            font-size: 1.5em;
            color: #333;
        }

        .view-all-btn {
            font-family: 'Poppins', sans-serif !important;
            padding: 10px 20px;
            background-color: #343a40;
            color: #fff;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
        }

        .view-all-btn:hover {
            background-color: #23272b;
            transform: scale(1.05);
        }


        @media screen and (max-width: 767px) {
            
            .parent-container {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }



            .product-title{
                margin-top: 2vh;
            }


            .left-container{
                width: 100%;
            }

            .product-grid .product-card{
                width: 100%;
            }

        }
        

@media screen and (min-width: 992px){
    .cardio{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .product-content{
        padding-top: 0;
    }
}
    .parent-container{
        display: flex;
        height: auto;
    }
    .left-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
    }

    .right-container{
        width: 100%;
        height:30vh;
    }

    .review-container select{
        border: 1px solid #fff;
        padding: 1vh;
        background-color: #000;
        color: #fff;
    }

    .read-more-button button{
        border: 1px solid #fff;
        padding: 1vh 5vh 1vh 5vh;
        background-color: #000;
        color: #fff;
    }
    

  .left-container h2{
      padding: 0;
      margin-bottom: 1vh;
      font-size: 3rem;
  }
  .left-container iconify-icon{
      color: gold;
      font-size: 5vh;
  }

  .left-container h4{
      margin-top: 1vh;
  }

  .review-item{
      margin-top: 2vh;
      margin-bottom: 2vh;
      padding: 1vh;
      border: 1px solid rgba(100, 94, 94, 0.5);
  }

  .review-name,.review-title{
      font-size: 3vh;
  }

  .review-desc{
      font-size: 2vh;
  }

  .review-date{
      font-style: italic;
      font-size: 1.5vh;
  }

  .review-stars{
      font-size: 2vh;
  }
  

  .review-container {
      padding: 2vw;
      width: 100%;
      color: #fff;
    margin-top: 20px;

}

.review-section.active {
    display: flex;
    flex-direction: column;
}

.product-grid{
    padding: 1rem;
    width: 100%;
    
    overflow-x: scroll;
    scrollbar-width: 1px;
display: flex;
flex-wrap: nowrap;
flex-direction: row;
}

.product-card {
    width: 30%;
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
background-color: #fff;
color: #000;
margin: 5px;
padding: 15px;
color: #fff;
border-radius: 10px;
transition: transform 0.2s;
height: auto;
}

.product-details{
    text-align: left;
    width: 100%;
    flex-wrap: wrap;
}

.product-image {
width: 100%;
height: 40vh;
object-fit: cover;
transition: transform 1s ease-in-out;
display: block;
margin-left: auto;
margin-right: auto;
overflow: hidden;
border-radius: 10px;
}

.product-image:hover{
        transform: scale(1.05);
}
.product-title {
font-size: 2.5vh;
font-weight: bold;
margin-top: 1rem;
color: #000;
}
.product-description {
font-size: 0.9rem;
margin-top: 0.5rem;
color: #222;
}
.product-price-discount {
margin-top: 10px;
}
.product-price{
color: #000;
font-weight: bolder;
}
.add-to-cart-btn {
margin-top: 1rem;
display: inline-block;
width: 100%;
padding: 0.5rem 1rem;
background-color: burlywood;
color: #fff;
text-align: center;
text-decoration: none;
font-size: 13px;
border: none;
border-radius: 6px;
cursor: pointer;
text-transform: uppercase;
transition: background-color 0.3s ease-in-out;
}
.add-to-cart-btn:hover{
background-color: #fff;
border: 1px solid burlywood;
color: burlywood;
}

.products-bar{
width: 90%;
padding-right: 1rem;
padding-left: 1rem;
color: #000;
background-color: #000;
}

@media screen and (max-height: 450px) {
    
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 1rem;}
}
@media (max-width: 576px){
.product-grid{
padding: 5px;
/* padding-right: 1rem; */
grid-column-gap: 0px;
}


.product-card{
    width: 45%;
}

.product-image{
    height: 15vh;
}

.show-btn{
    border: 1px solid #fff;
    font-size: 15px;
    margin-top: -5pxs;
}


.add-to-cart-btn{
    font-size: 11px;
}

.product-grid{
    padding: 1rem;
    width: 100%;
    /* background-color: red; */
    overflow-x: scroll;
    scrollbar-width: 1px;
display: flex;
flex-wrap: nowrap;
flex-direction: row;
justify-content: flex-start;
align-items: center;
}

.product-discount{
    display: none;
}


.product-title{
    font-size: 11px;
    font-weight: 600;
}

.product-description{
    font-weight: 400;
    font-size: 9px;
}
}

#productGrid {
    overflow: hidden;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

#productGrid::-webkit-scrollbar {
    display: none;
}


/* #productGrid {
    overflow: hidden;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

#productGrid::-webkit-scrollbar {
    display: none;
}

.product-card {
    width: 30%;
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
background-color: #fff;
color: #000;
margin: 10px;
padding: 1rem;
color: #fff;
border-radius: 0.5rem;
transition: transform 0.2s;
height: auto;
}

.product-details{
    text-align: left;
    width: 100%;
    flex-wrap: wrap;
}

.product-image {
width: 100%;
height: 50vh;
object-fit: cover;
transition: transform 1s ease-in-out;
display: block;
margin-left: auto;
margin-right: auto;
overflow: hidden;
border-radius: 10px;
}

.product-image:hover{
        transform: scale(1.05);
}

.filters button {
    font-size: 3vw;
    text-decoration: none; 
    position: relative;
    border: none;
    text-transform: uppercase;
    font-weight: 400;
    transition: 0.5s ease-in-out;
}

.filters button:hover {
    text-decoration: underline; 
}
.category-badge {
padding: 0.8rem 0.8rem;
border-radius: 0.3rem;
font-size: 0.8rem;
text-transform: uppercase;
width: max-content;
margin-top: 0.5rem;
background-color: #000;
}
.product-title {
font-size: 1.2rem;
font-weight: bold;
margin-top: 1rem;
color: #000;
}
.product-description {
font-size: 0.9rem;
margin-top: 0.3rem;
color: #222;
}
.product-price-discount {
margin-top: 0;
}
.product-price{
color: #000;
font-weight: bolder;
}
.add-to-cart-btn {
margin-top: 1rem;
display: inline-block;
width: 100%;
padding: 0.5rem 1rem;
background-color: burlywood;
color: #fff;
text-align: center;
text-decoration: none;
font-size: 1rem;
border: none;
border-radius: 1rem;
cursor: pointer;
text-transform: uppercase;
transition: background-color 0.3s ease-in-out;
}
.add-to-cart-btn:hover{
background-color: #fff;
border: 1px solid burlywood;
color: burlywood;
} */

.people{
    font-size: 7vh;
}