<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ProductStyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500&display=swap">

    <title>Face Care - WhiteWolf International</title>
    <style>
        body{
            background-color: #000;
        }
    .banner{
        background-color: #000;
        padding: 5vh;
    }
    .page{
        width: 100%;
        padding: 2rem;
        min-height: 80vh;
    }
        .accordion {
    background-color: black;
}

footer a{
    text-decoration: none;
}

.social ul a {
    width: 0.5rem;
    height: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem; /* Adjust the font size accordingly */
    background-color: #fff;
    border-radius: 50%;
    color: #000;
}

.accordion-button {
    color: white;
    font-size: 3vh;
    border-radius: 0 !important;
}

.accordion-button:active {
    color: #000 !important;
    box-shadow: none;
    font-size: 3vh;
    border-radius: 0 !important;
}

.accordion-item {
    margin-top: 1rem;
    border: none;
    border-radius: 0 !important;
    border-bottom: 1px solid white;
    box-shadow: none !important;
    outline: none !important;
}

.accordion-item:active{
    color: #000 !important;
    background-color: #000;
    box-shadow: none !important;
    outline: none !important;

}

.accordion-body {
    padding: 1rem;
    border: none;
    font-size: 2vh;
    background-color: #000;
    color: #fff; 
}

.accordion a{
    text-decoration: none;
    color: #fff;
}

.accordion-button.collapsed {
    background-color: black;
}

.filters h4{
    font-size: 7vh;
}

.grids{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    grid-column-gap: 1rem;
}

.Liked{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 576px) {
    .accordion {
        margin-top: 0.5rem; 
        margin-bottom: 0.5rem; 
    }

    .banner{
        background-color: #000;
        padding: 1vh;
    }

    .page{
        margin-top: 0rem;
        padding: 1rem;
    }

    .page .filters{
        margin-top: -10vh;
    }

    .filters h4{
        font-size: 5    vh;
    }

    .accordion-button {
        font-size: 1.2rem; 
    }

    .accordion-item {
        margin-top: 0.5rem; 
    }

    .accordion-body {
        padding: 0.5rem; 
        font-size: 3vh; 
    }

    .Liked h2 {
        font-size: 2rem; 
    }

    
}

    </style>
</head>
<body>
    <%- include('partials/nav') %> 
    <%- include('partials/cart') %> 
    <div class="container-fluid banner">
        <img src="../assets/Beard_Care.jpeg" alt="Banner Image" class="banner-image">
    </div>

    <div class="container-fluid page" style="background-color: #000;">
        <div class="row">
            
            <div class="col-md-3 mt-0 mr-3">
                <div class="filters mt-1 mb-5">
                    <h4 class="text-white">Filter</h4>
            
                    
                    <div class="accordion" id="categoryFilterAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="categoryFilterHeader">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#categoryFilterCollapse" aria-expanded="false" aria-controls="categoryFilterCollapse">
                                    Category
                                </button>
                            </h2>
                            <div id="categoryFilterCollapse" class="accordion-collapse collapse" aria-labelledby="categoryFilterHeader">
                                <div class="accordion-body">
                                    <a class="nav-link" href="#" data-filter="face-care">Face Care</a>
                                    <a class="nav-link" href="#" data-filter="hair-care">Hair Care</a>
                                    <a class="nav-link" href="#" data-filter="body-care">Body Care</a>
                                    <a class="nav-link" href="#" data-filter="beard-care">Beard Care</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion" id="discountFilterAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="discountFilterHeader">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#discountFilterCollapse" aria-expanded="false" aria-controls="discountFilterCollapse">
                                    Discount
                                </button>
                            </h2>
                            <div id="discountFilterCollapse" class="accordion-collapse collapse" aria-labelledby="discountFilterHeader">
                                <div class="accordion-body">
                                    <a class="nav-link" href="#" data-filter="discount10">10%</a>
                                    <a class="nav-link" href="#" data-filter="discount20">20%</a>
                                    <a class="nav-link" href="#" data-filter="discount30">30%</a>
                                    <a class="nav-link" href="#" data-filter="discount40">40%</a>
                                    <a class="nav-link" href="#" data-filter="discount50">50% and above</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion" id="ratingFilterAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="ratingFilterHeader">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ratingFilterCollapse" aria-expanded="false" aria-controls="ratingFilterCollapse">
                                    Rating
                                </button>
                            </h2>
                            <div id="ratingFilterCollapse" class="accordion-collapse collapse" aria-labelledby="ratingFilterHeader">
                                <div class="accordion-body">
                                    <a class="nav-link" href="#" data-filter="rating4">4 stars & above</a>
                                    <a class="nav-link" href="#" data-filter="rating3">3 stars & above</a>
                                    <a class="nav-link" href="#" data-filter="rating2">2 stars & above</a>
                                    <a class="nav-link" href="#" data-filter="rating1">1 star & above</a>
                                </div>
                            </div>
                        </div>
                    </div>                    
            
                    
                </div>
            </div>
            
            
            <div class="col-md-9 ml-3">
                <div class="left-product">
                    <div class="d-flex justify-content-between m-3">
                        
                        <div class="products-found-text">
                            <p class="mb-0 text-white" style="font-size: 1.5rem;">4 products found</p>
                        </div>
            
                        
                        <div class="sort-filter row ">
                            
                            <div class="col-auto">
                                <select class="form-select text-white w-100" id="sortFilter" style="background-color: #000;">
                                    <option>Sort By</option>
                                </select>
                            </div>
                        </div> 
                    </div> 
                </div>
                <div class="grids mt-5 mr-2 ml-2 p-2" style="background-color: red;">
                    <div class="product-card product d-flex flex-column">
                        <div class="product-image-container">
                            <img class="product-image" src="${product.imageLink[0]}" alt="${product.name}">
                            <img class="product-image hover-image" src="${product.imageLink[1] || product.imageLink[0]}" alt="${product.name}" style="display:none">
                      </div>
                      <div class="product-details">
                            <div class="category-badge text-white corner-round p-1" style="display:none;">${product.category}</div>
                            <div class="product-title"><a href="Product_Description.html" style="text-decoration:none;color:#000">${product.name}</a></div>
                            <div class="product-description">${product.description}</div>
                            <div class="mb-2">
                               <div class="d-flex justify-content-between bolder product-price-discount">
                                  <div class="product-price">&#8377; ${product.offeredPrice}</div>
                                  <div class="original-price text-secondary text-decoration-line-through">&#8377;${product.originalPrice || ''}</div>
                                  <div class="product-discount text-success">${((product.originalPrice - product.offeredPrice) / product.originalPrice * 100).toFixed(0)}% Off</div>
                               </div>
                            </div>
                            <button class="add-to-cart-btn add${product.itemId}" id="liveToastBtn"><i class="fas fa-cart"></i> Add to Cart</button>
                      </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="container-fluid Liked mb-5" style="width: 90%;height: 80vh;">
        <h2 class="text-white text-center " style="font-size: 7vh;">Your May Also Like</h2>
        <div class="grids mt-5" style="background-color: red;">
            <div class="product-card product d-flex flex-column">
                <div class="product-image-container">
                    <img class="product-image" src="${product.imageLink[0]}" alt="${product.name}">
                    <img class="product-image hover-image" src="${product.imageLink[1] || product.imageLink[0]}" alt="${product.name}" style="display:none">
              </div>
              <div class="product-details">
                    <div class="category-badge text-white corner-round p-1" style="display:none;">${product.category}</div>
                    <div class="product-title"><a href="Product_Description.html" style="text-decoration:none;color:#000">${product.name}</a></div>
                    <div class="product-description">${product.description}</div>
                    <div class="mb-2">
                       <div class="d-flex justify-content-between bolder product-price-discount">
                          <div class="product-price">&#8377; ${product.offeredPrice}</div>
                          <div class="original-price text-secondary text-decoration-line-through">&#8377;${product.originalPrice || ''}</div>
                          <div class="product-discount text-success">${((product.originalPrice - product.offeredPrice) / product.originalPrice * 100).toFixed(0)}% Off</div>
                       </div>
                    </div>
                    <button class="add-to-cart-btn add${product.itemId}" id="liveToastBtn"><i class="fas fa-cart"></i> Add to Cart</button>
              </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid d-flex flex-column container text-white p-3 footer"style="background-color: #000;">
        <div class=" text-left mt-3 p-5" style="background-color: #070707;">
           <div class="row">
              <div class="col-md-3">
                 <img src="assets/logo.PNG" alt="Logo" class="img-fluid mb-3" style="width: auto;height: 10vh;">
              </div>
              <div class="col-md-5 d-flex justify-content-between footer-menu">
                 <div class="col-md-6 mr-3 list-unstyled">
                    <li><a href="#" class="text-white">About us</a></li>
                    <li><a href="#" class="text-white">FAQ</a></li>
                    <li><a href="#" class="text-white">Shipping & Payment</a></li>
                    <li><a href="#" class="text-white">Partners</a></li>
                    <li><a href="#" class="text-white">Blog</a></li>
                    <li><a href="#" class="text-white">Contact Us</a></li>
                 </div>
                 <div class="col-md-5 ml-3 list-unstyled">
                    <li><a href="#" class="text-white">Customer Reviews</a></li>
                    <li><a href="#" class="text-white">Hair Care</a></li>
                    <li><a href="#" class="text-white">Skin Care</a></li>
                    <li><a href="#" class="text-white">Face Care</a></li>
                 </div>
              </div>
              <div class="col-md-3 d-flex flex-column align-items-end">
                 <button class="btn btn-light mb-2">Shop Now</button>
                 <p>+(123) 123-99-999</p>
                 <p>info@WhiteWolf.com</p>
              </div>
           </div>
           <div class="row mt-5">
              <div class="col-md-3 social">
                 <ul class="list-unstyled">
                    <a href="#" class="mr-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="mr-2"><i class="fab fa-whatsapp"></i></a>
                 </ul>
              </div>
              <div class="col-md-6 d-flex">
                 <p>The Hive Co Working and Business Center<br>Industiral Area Phase-2, Chandigarh</p>
              </div>
              <div class="col-md-3 d-flex flex-column align-items-end">
              </div>
           </div>
        </div>
        <div class="container mt-5">
           <div class="row d-flex justify-content-between">
              <div class="col-md-5">
                 <h3>If you didn't find the products you are interested in or have questions?</h3>
              </div>
              <div class="col-md-6">
                 <p>Enter your email:</p>
                 <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Your email here" aria-label="Your email" aria-describedby="basic-addon2" style="background-color: #000;">
                    <button class="btn btn-outline-secondary" type="button" id="basic-addon2">
                    <i class="fa fa-arrow-circle-right"></i> 
                    </button>
                 </div>
              </div>
              <p class="pl-2">2023 - Copyright, All Rights Reserved.</p>
           </div>
           
        </div>
     </footer>
       
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

</body>
</html>